@font-face {
	font-family: 'bmmicon';
	src:url('/sites/all/themes/bmm/cssAssets/bmmicon.eot');
	src:url('/sites/all/themes/bmm/cssAssets//sites/all/themes/bmm/cssAssets/bmmicon.eot') format('embedded-opentype'),
		url('/sites/all/themes/bmm/cssAssets/bmmicon.woff') format('woff'),
		url('/sites/all/themes/bmm/cssAssets/bmmicon.ttf') format('truetype'),
		url('/sites/all/themes/bmm/cssAssets/bmmicon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bmm-"], [class*=" bmm-"] {
	font-family: 'bmmicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bmm-book:before {
	content: "\e600";
}
.bmm-email:before {
	content: "\e601";
}
.bmm-stop:before {
	content: "\e602";
}
.bmm-check:before {
	content: "\e603";
}
.bmm-alert:before {
	content: "\e604";
}
.bmm-person:before {
	content: "\e605";
}
.bmm-help:before {
	content: "\e606";
}
.bmm-phone:before {
	content: "\e607";
}
.bmm-mobile:before {
	content: "\e608";
}
.bmm-talk:before {
	content: "\e609";
}
.bmm-people:before {
	content: "\e60a";
}
.bmm-loading:before {
	content: "\e60b";
}
.bmm-power2:before {
	content: "\e60c";
}
.bmm-bookmark:before {
	content: "\e60d";
}
.bmm-unfavorite:before {
	content: "\e60e";
}
.bmm-favorite:before {
	content: "\e60f";
}
.bmm-love:before {
	content: "\e610";
}
.bmm-unlove:before {
	content: "\e611";
}
.bmm-play:before {
	content: "\e612";
}
.bmm-pasue:before {
	content: "\e613";
}
.bmm-sound:before {
	content: "\e614";
}
.bmm-google+:before {
	content: "\e615";
}
.bmm-facebook-square:before {
	content: "\e616";
}
.bmm-facebook-circle:before {
	content: "\e617";
}
.bmm-instagram:before {
	content: "\e618";
}
.bmm-twitter-square:before {
	content: "\e619";
}
.bmm-twitter-large:before {
	content: "\e61a";
}
.bmm-youtube-enclosed:before {
	content: "\e61b";
}
.bmm-vimeo-large:before {
	content: "\e61c";
}
.bmm-linkedin-square:before {
	content: "\e61d";
}
.bmm-article:before {
	content: "\e61e";
}
.bmm-addheart:before {
	content: "\e61f";
}
.bmm-removeheart:before {
	content: "\e620";
}
.bmm-power:before {
	content: "\e621";
}
.bmm-book-side:before {
	content: "\e622";
}
.bmm-travel:before {
	content: "\e623";
}
.bmm-like:before {
	content: "\e624";
}
.bmm-award:before {
	content: "\e625";
}
.bmm-globe:before {
	content: "\e626";
}
.bmm-truck:before {
	content: "\e627";
}
.bmm-conversation:before {
	content: "\e628";
}
.bmm-left-da:before {
	content: "\e629";
}
.bmm-right-da:before {
	content: "\e62a";
}
.bmm-left-arrow:before {
	content: "\e62b";
}
.bmm-right-arrow:before {
	content: "\e62c";
}
.bmm-up-arrow:before {
	content: "\e62d";
}
.bmm-down-arrow:before {
	content: "\e62e";
}
.bmm-uni50:before {
	content: "\e62f";
}
.bmm-youtube:before {
	content: "\e630";
}
.bmm-article-double:before {
	content: "\e631";
}
.bmm-shield:before {
	content: "\e632";
}
.bmm-location:before {
	content: "\e633";
}
.bmm-news:before {
	content: "\e634";
}
.bmm-uni56:before {
	content: "\e635";
}
.bmm-search:before {
	content: "\e636";
}
.bmm-bell:before {
	content: "\e637";
}
.bmm-sun:before {
	content: "\e638";
}
.bmm-monitor:before {
	content: "\e639";
}
.bmm-light:before {
	content: "\e63a";
}
.bmm-vimeo:before {
	content: "\e63b";
}
.bmm-dark-bell:before {
	content: "\e63c";
}
.bmm-facebook:before {
	content: "\e63d";
}
.bmm-twitter:before {
	content: "\e63e";
}
.bmm-twitter2:before {
	content: "\e63f";
}
.bmm-facebook2:before {
	content: "\e640";
}
.bmm-facebook3:before {
	content: "\e641";
}
