.pg-wrap h2 {
  background: transparent;
  color: #0f4b90;
  text-align: left;
}

.pg-wrap table {
  table-layout: fixed;
  width: 100%;
  border: 0;
}

.pg-wrap table tr th {
  background: #0090b9;
  padding: 5px;
  color: #fff;
}

.pg-wrap table tr td {
  padding: 5px;
  border: 1px solid #0090b9;
}

#block-pgc-contact-block-pgc-contact-block {
  padding: 0;
}

#block-pgc-contact-block-pgc-contact-block .title {
  background: #0f4b90;
  color: #fff;
  padding: 0 15px;
  text-align: center;
}

#pgc-contact-block {
  padding:0px;
}

#pgc-contact-block li a {
  padding:  5px 0;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  font-size: 19px;
  margin-top: 40px !important;
  : ;
  padding: 15px 10px 10px;
  font-weight: 300;
  background: #0f4b90;
  margin: 0;
  text-align: center !important;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  padding-bottom: 0 !important;
}

#pgc-contact-footer-block {
  padding-bottom: 0 !important;
  text-align: center !important;
}

#pgc-contact-footer-block li {
  padding-bottom: 0 !important;
  text-align: center !important;
  display: inline-block float: none;
}

#pgc-contact-footer-block li a {
  color: #fff;
  padding-bottom: 0 !important;
  text-align: center !important;
  font-weight: 700;
}

#pgc_resource_block {
  font-size: 16px;
  line-height: 1.2;
  padding: 13px 15px 10px;
  font-weight: 300;
  background: #0f4b90;
  : ;
  margin: 0;
  text-align: center;
}

#pgc_resource_block a {
  color: #fff;
}

.pg-gift-details .accordion-switch {
  background: #0f4b90;
  margin: 20px 0;
}

.pg-gift-details .accordion-switch a {
  color: #fff;
  padding: 10px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  background: #0f4b90;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background-color: #90d7ff;
}

.pgc-brochure-header-text {
  background-color: #0f4b90;
  color: #ffffff;
}

.pgc-brochure-title {
  color: #0f4b90;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #0f4b90;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #0f4b90;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #0f4b90;
}

.pgc-brochure-footer-text {
  background-color: #0f4b90;
}

.pgc-brochure-footer-title {
  color: #90d7ff;
}

