.pgc-share .icon-share
{
	color: #363636;
}
.pg-page-btns .pgc-title-btn a:hover
{
	color: initial;
}
#block-pgc-contact-block-pgc-contact-block
{
	margin-top: 20px;
}
#main-menu li a:hover
{
	background: #163052 !important;
}
@media only screen and (max-width: 999px) {
#block-system-main-menu
{
	display: none;
}
.pg-featured-links {
    width: 100% !important;
}
#pgc-container.gift
{
	width: 100% !important;
}
}
#main-menu li.expanded a:hover {
    background: #163052 !important;
}
.child-pages .clear
{
	clear: initial;
}
.pg-featured-links
{
	width: 64%;
}
.pg-featured-links .break
{
	clear: none;
	 border-bottom: none;
}
#pgc-container
{
	width: 70% !important;
}
#pgc-app-container
{
	width: 70%;
}
#pgc-app-container .pgc-clearfix
{
	clear: none;
}
#giftGuideSteps
{
	display: grid;
}
#main-menu li.active-trail a
{
	color: #36c;
}
#main-menu li.last a
{
	border-radius: initial;
}
.pg-content-body .child-page {
    border-bottom: none;
  }

.pg-breadcrumb .pg-breadcrumb-links, .field-name-body, .pg-how-gift-helps,.pg-gift-details .accordion-switch
{
	border-top: none !important;
    border-bottom: none !important;
}
