#giftCompare input[type=checkbox]{
    opacity: initial !important;
}

#answerForm input[type=radio]{
    opacity: initial !important;
    position: initial !important;
}

.pgc-brochure-header-container{
	float:right;
}

.pgc-brochure-logo{
	float:left;
}
