.pg-page-btns .pgc-share .atc_s{
	font-size:0;
}

.pg-page-header{
	margin-bottom:5px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile{
	width:auto;
	background-color: #013967;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    left: 11px;
    top: -2px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
    content: "\f05c";
    font-family: "FontAwesome";
    ffont-size: 42px;
    left: 3px;
    top: 0px;
    position: absolute;
  }

#block-pgc-misc-blocks-mobilenav .control.close-btn {
    border: none;
}

#block-pgc-slideshow-block-pgc-slideshow-block + #block-pgc-misc-blocks-mobilenav {
    top: -80px;
}

.pg-content-body .child-page{
	padding:0px;
	padding-bottom:20px;
}

.error {
    background: none !important; 
}


@media only screen and (max-width: 767px) {
	
  .pg-content-inline-blocks{
  	float:none;
  	margin-left:0;
  }
  body{
  	padding-left:10px;
  	padding-right:10px;
  }
}