.pg-wrap h1 {
  font-family: 'PT Sans', sans-serif;
  text-transform: none;
  font-size: 2.5em;
  font-weight: 500;
  color: #333;
  margin-top: 0px;
}

.pg-wrap h2 {
  font-family: 'PT Sans', sans-serif;
}

.pg-wrap h3 {
  : ;
  font-size: 1.17em;
}

.pg-wrap h4 {
  : ;
  font-size: 1em;
}

.pg-wrap a {
  : ;
  text-decoration: none;
}

.pg-wrap p {
  : ;
  font-size: 1em;
}

#block-system-main-menu {
  margin-top: 20px;
}

#block-system-main-menu h2 a {
  font-size: 20px;
  padding-bottom: none;
}

.pg-wrap table {
  margin-bottom: 30px;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr {
  : ;
}

.pg-wrap table tr th {
  : ;
  background: #013967;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #013967;
}

.pg-wrap table tr th:first-child {
  : ;
}

.pg-wrap table tr th:last-child {
  : ;
}

.pg-wrap table tr th:only-child {
  : ;
}

.pg-wrap table tr td {
  : ;
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td:first-child {
  : ;
}

.pg-wrap table tr td:last-child {
  : ;
}

.pg-wrap table tr td:only-child {
  : ;
}

.pg-wrap ul {
  : ;
}

.pg-wrap ul li {
  : ;
}

.pg-wrap ol {
  : ;
}

.pg-wrap ol li {
  : ;
  list-style-position: inside;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #013967;
  padding: 20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  margin-bottom: 30px;
  margin-top: 30px;
  background: #013967;
  padding: 10px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc_resource_block {
  background: #777;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #fff;
}

.pg-gift-details .accordion-switch {
  margin-bottom: 40px;
  font-size: 24px;
}

.pg-gift-details .accordion-switch a {
  background: #013967;
  padding: 0 15px;
  color: #fff;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #777;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch:hover a {
  : ;
}

.pg-gift-details .accordion-switch span {
  : ;
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pgc-brochure-bg-top {
  background: #013967;
}

.pgc-brochure-header-text {
  background: #777;
  color: #ffffff;
}

.pgc-brochure-title {
  color: #013967;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #777;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #013967;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #013967;
}

.pgc-brochure-footer-text {
  background: #013967;
}

.pgc-brochure-footer-title {
  color: #ffffff;
}

span.pgc-brochure-footer-contact {
  color: #ffffff;
}

.pg-page-btns .pgc-title-btn {
  background-color: #013967;
}

