
.photo_right {
	font-style : italic;
}
.photo_left {
	font-style : italic;
}
.button {
	display : block;
}
.expandable {
	display : block;
}
.directory {
	display : block;
}
.directory_name {
}
.directory_title {
}
.clear {
	clear : both;
}
.development_title {
}
.development_area {
}
.button_full_blue {
}
.button_light {
	display : block;
}
