/*#giftCompare td
{
	padding: 3px 20px -1px 5px !important;
}*/
#giftCompare label
{
	font-weight: normal !important;
}

#giftCompare table label {
    display: inline !important;
}
.pg-wrap table tr td
{
	    width: 60%;
}