.pg-wrap h1 {
  font-size: 3.8rem !important;
  line-height: 4.8rem;
  padding-bottom: 1.5rem;
}

#block-system-main-menu {
  box-sizing: inherit;
  border-top: 0.2rem solid #fff;
  display: inline-block;
  max-height: 50rem;
  position: relative;
  text-align: left;
  width: 100%;
}

#block-system-main-menu h2 a {
  font-family: 'Texta-Bold', Helvetica, Arial, sans-serif;
  border-left: 0.5rem solid transparent;
  border-radius: 0;
  color: #333333;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.1rem 13.7rem 0.01rem 2.1rem;
  text-indent: -1rem;
  background-color: #CADBE7;
  border-left-color: #005794;
}

#main-menu li {
  padding-left: 15px;
  padding-right: 10px;
  list-style: none;
}

#main-menu li a {
  border-left-color: #648A3B;
  padding-left: 10px;
  background-color: transparent;
  border-left: 0.5rem solid transparent;
  border-radius: 0;
  color: #333333;
  display: block;
  font-family: 'Texta-Bold', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

#main-menu li a:hover {
  border-left-color: #648A3B;
}

#main-menu li a.active {
  border-left-color: #648A3B;
}

#main-menu ul li a.active {
  border-left-color: #A8252A;
}

#main-menu ul li a:hover {
  border-left-color: #A8252A;
}

#main-menu ul ul li {
  padding-top: 10px;
}

#main-menu li.expanded ul ul li a {
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#main-menu ul ul li a:hover {
  border-left-color: #005794;
}

#main-menu ul ul li a.active {
  border-left-color: #005794;
}

.pg-wrap table {
  margin-bottom: 15px;
  margin-top: -15px;
  width: 100%;
}

.pg-wrap table tr th {
  padding: 7px;
}

.pg-wrap table tr td {
  padding: 7px;
}

#block-pgc-contact-block-pgc-contact-block {
  background-color: #EEEEEE;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 15px;
  position: relative;
}

#block-pgc-contact-block-pgc-contact-block .title {
  font-size: 2rem;
  font-family: 'pt_serifregular', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: -5px;
}

#pgc-contact-block {
  text-align: left;
  margin-left: -18px;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  : ;
  background: #EEEEEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 4rem;
  padding: 10px 20px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  : ;
  color: #005794;
  font-size: 1.5em;
}

#pgc-contact-footer-block {
  : ;
}

#pgc-contact-footer-block li {
  : ;
}

#pgc-contact-footer-block li:hover {
  : ;
}

#pgc-contact-footer-block li a {
  color: #005794;
}

#pgc-contact-footer-block li a:hover {
  color: #4a90e2;
}

#pgc-contact-footer-block li span {
  : ;
}

#pgc_resource_block {
  background: #15214D;
  border-radius: 4rem;
  color: #fff;
  display: inline-block;
  font-size: 1.7rem;
  height: 4rem;
  line-height: 4rem;
  min-width: 16rem;
}

#pgc_resource_block a {
  color: #fff;
  display: inline-block;
  font-size: 1.7rem;
  height: 4rem;
  line-height: 4rem;
  min-width: 16rem;
  padding-left: 15px;
  padding-right: 15px;
}

#pgc_resource_block a:hover {
  background: #74B243;
  border-radius: 4rem;
  min-width: 16rem;
  display: inline-block;
}

.pg-gift-details .accordion-switch:hover {
  : ;
}

.pg-gift-details .accordion-switch a {
  : ;
  background: #EEEEEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 4rem;
  padding: 0 15px;
  color: #4a4a4a;
  display: block;
  font-family: 'pt_serifregular', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  : ;
  background: #15214D;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch:hover a {
  : ;
}

.pg-gift-details .accordion-switch span {
  : ;
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  background: #15214D;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background: #eeeeee;
}

.pgc-brochure-header-text {
  background: #15214D;
  color: #fff;
}

.pgc-brochure-title {
  color: #15214D;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #15214D;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #15214D;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #15214D;
}

.pgc-brochure-footer-text {
  background: #EEEEEE;
  color: #000;
}

.pgc-brochure-footer-title {
  color: #15214D;
}

span.pgc-brochure-footer-contact {
  color: #15214D;
}

.pg-page-btns .pgc-title-btn {
  background-color: #15214d;
}

