.pg-wrap h3 {
  font-weight: bold;
  text-shadow: 0px 1px 0px white;
  font-size: 16px;
  line-height: 22px;
  color: #7B9C59;
  font-family: 'Verdana', Arial, sans-serif;
}

.pg-wrap h4 {
  font-weight: bold;
  text-shadow: 0px 1px 0px white;
  font-size: 16px;
  line-height: 22px;
  color: #7B9C59;
  font-family: 'Verdana', Arial, sans-serif;
}

.pg-wrap table {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr {
  : ;
}

.pg-wrap table tr th {
  : ;
  background: transparent;
  color: #000;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr th:first-child {
  : ;
}

.pg-wrap table tr th:last-child {
  : ;
}

.pg-wrap table tr th:only-child {
  : ;
}

.pg-wrap table tr td {
  : ;
  color: #000;
  background: transparent;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td:first-child {
  : ;
}

.pg-wrap table tr td:last-child {
  : ;
}

.pg-wrap table tr td:only-child {
  : ;
}

#block-pgc-contact-block-pgc-contact-block {
  : ;
  background: #3972b1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-block .title {
  : ;
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  : ;
  padding-top: 10px;
}

#pgc-contact-block li {
  : ;
}

#pgc-contact-block li:hover {
  : ;
}

#pgc-contact-block li a {
  : ;
  color: #fff;
}

#pgc-contact-block li a:hover {
  : ;
}

#pgc-contact-block li span {
  : ;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  margin: 0 0%;
  max-width: 100% !important;
  height: auto;
  background-color: #D9D9D9;
  padding: 10px 30px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.86);
  margin-bottom: 15px;
  margin-top: 15px;
}

#pgc-contact-footer-block {
  : ;
}

#pgc-contact-footer-block li {
  : ;
}

#pgc-contact-footer-block li:hover {
  : ;
}

#pgc-contact-footer-block li a {
  font-weight: bold;
  text-shadow: 0px 1px 0px white;
  font-size: 16px;
  line-height: 22px;
  color: #7B9C59;
  font-family: 'Verdana', Arial, sans-serif;
}

#pgc-contact-footer-block li a:hover {
  color: #235a98;
}

#pgc-contact-footer-block li span {
  : ;
}

#pgc_resource_block {
  border-top: 2px solid #6B9347;
  background: #98bb6e;
  padding: 15px 15px;
  text-align: center;
}

#pgc_resource_block a {
  color: white !important;
  text-decoration: none !important;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'novecento_sans_widelight', sans-serif;
  font-weight: 100;
}

#pgc_resource_block a:hover {
  color: #235a98;
}

.pg-gift-details .accordion-switch {
  text-decoration: none;
}

.pg-gift-details .accordion-switch:hover {
  text-decoration: none;
}

.pg-gift-details .accordion-switch a {
  padding: 0 15px;
  color: #ffffff;
  display: block;
  font-size: .8em;
  font-family: 'novecento_sans_widelight', sans-serif;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  border-top: 2px solid #6B9347;
  background: #98bb6e;
  text-decoration: none;
}

.pg-gift-details .accordion-switch a:hover {
  text-decoration: none;
  background: #235a98;
  color: #fff;
}

.pg-gift-details .accordion-switch:hover a {
  text-decoration: none;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb {
  margin-top: -25px;
  margin-bottom: -25px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  : ;
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  : ;
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  : ;
}

.pg-how-gift-helps-item-text {
  margin-top: 10px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  margin-top: 10px;
  border-radius: 5px 5px 0px 0px;
  border-top: 1px solid #ffffff;
  background: #163A61;
  border-bottom: 3px solid #235a98;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background: #98bb6e;
}

.pgc-brochure-header-text {
  background: #235a98;
  color: #fff;
}

.pgc-brochure-title {
  color: #235a98;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #235a98;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #98bb6e;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #98bb6e;
}

.pgc-brochure-footer-text {
  background: #235a98;
}

.pgc-brochure-footer-title {
  color: #98bb6e;
}

span.pgc-brochure-footer-contact {
  color: #98bb6e;
}

.pg-page-btns .pgc-title-btn {
  background-color: #235a98;
}

