.pg-wrap h1 {
  float: left;
  font-size: 2em;
}

.pg-wrap h2 {
  : ;
  font-size: 1.5em;
}

.pg-wrap h3 {
  : ;
  font-size: 1.17em;
}

.pg-wrap h4 {
  : ;
  font-size: 1em;
}

.pg-wrap a {
  : ;
  text-decoration: none;
}

.pg-wrap p {
  : ;
  font-size: 1em;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #4e2a6e;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #4e2a6e;
}

.pg-wrap table tr td {
  color: #111820;
  background: #fff;
  padding: 7px;
  border: 1px solid #4e2a6e;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #4e2a6e;
  padding: 20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 17px;
  font-family: Arial,Helvetica,sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
  font-weight: bold;
  font-size: .95em;
  font-family: Arial,Helvetica,sans-serif;
}

#pgc-contact-block li a {
  color: #fff;
  margin-left: -30px;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #4e2a6e;
  padding: 10px 10px;
  letter-spacing: 0.08em;
  font-size: 0.9em;
  text-transform: none;
  font-weight: bold;
  font-family: Arial,Helvetica,sans-serif;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc_resource_block {
  background: #f2eaf2;
  padding: 15px 20px;
  text-align: center;
}

#pgc_resource_block a {
  color: #4e2a6e;
  font-weight: bold;
  font-size: .95em;
  font-family: Arial,Helvetica,sans-serif;
}

#pgc_resource_block a:hover {
  color: #7f8241;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  letter-spacing: 0.08em;
  font-family: Arial,Helvetica,sans-serif;
  text-transform: none;
  background: #f2eaf2;
  padding: 0 40px;
  border: none;
  color: #5e5887;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  margin: 10px 0;
  line-height: 40px;
}

.pg-gift-details .accordion-switch a:hover {
  background: #4e2a6e;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 17px;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pgc-brochure-bg-top {
  background: #7f8241;
}

.pgc-brochure-header-text {
  background: #4e2a6e;
  color: #fff;
}

.pgc-brochure-title {
  color:  #4e2a6e;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color:  #4e2a6e;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color:  #7f8241;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color:  #7f8241;
}

.pgc-brochure-footer-text {
  background: #7f8241;
}

span.pgc-brochure-footer-contact {
  font-weight: 800;
}

.pg-page-btns .pgc-title-btn {
  background-color: #4e2a6e;
}

