/* Widget style -------*/
.Widgets{float:right;padding:16px 0 0 0; width:85px;}
.Widgets input{border:none;}
#SizeWidget, #TextSizeWidget{float:right;margin-right:10px;}
#TextSizeWidget_smalltext, #TextSizeWidget_mediumtext, #TextSizeWidget_largetext, #SizeWidget_width1024, #SizeWidget_width1280, #SizeWidget_widthfull
{float:left;height:20px;width:20px;margin-right:3px;cursor:pointer;background:transparent none no-repeat;}
#TextSizeWidget_smalltext{background-image:url(/sites/all/themes/botanical/cssAssets/textsmall.png);}
#TextSizeWidget_smalltext:hover, #TextSizeWidget_smalltext.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/textsmallhover.png);}
#TextSizeWidget_mediumtext{background-image:url(/sites/all/themes/botanical/cssAssets/textmedium.png);}
#TextSizeWidget_mediumtext:hover, #TextSizeWidget_mediumtext.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/textmediumhover.png);}
#TextSizeWidget_largetext{background-image:url(/sites/all/themes/botanical/cssAssets/textlarge.png);}
#TextSizeWidget_largetext:hover, #TextSizeWidget_largetext.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/textlargehover.png);}
#SizeWidget_width1024 {background-image:url(/sites/all/themes/botanical/cssAssets/width1024.png);}
#SizeWidget_width1024:hover, #SizeWidget_width1024.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/width1024hover.png);}
#SizeWidget_width1280 {background-image:url(/sites/all/themes/botanical/cssAssets/width1280.png);}
#SizeWidget_width1280:hover, #SizeWidget_width1280.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/width1280hover.png);}
#SizeWidget_widthfull {background-image:url(/sites/all/themes/botanical/cssAssets/widthfull.png);}
#SizeWidget_widthfull:hover , #SizeWidget_widthfull.SelectedWidget {background-image:url(/sites/all/themes/botanical/cssAssets/widthfullhover.png);}


