.pg-wrap h1 {
  width: 800px;
}

.pg-wrap h3 {
  margin-bottom: 10px;
}

.pg-wrap a {
  color: #005695;
  font-weight: 600;
}

.pg-wrap a:hover {
  color: #0a214f;
}

.pg-wrap a:active {
  color: #005695;
}

.pg-wrap p {
  font-size: 15px;
  font-family: "Avenir LT W01 45 Book","Trebuchet MS",Arial,Helvetica,sans-serif;
  line-height: 1.5;
  color: #475e7b;
}

#main-menu {
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#main-menu li a {
  padding-top: 2px;
  padding-bottom: 2px;
}

#main-menu ul li {
  border: none;
}

#main-menu ul ul li {
  border: none;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #003B6E;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #003B6E;
}

.pg-wrap table tr td {
  color: #003B6E;
  background: #fff;
  padding: 7px;
  border: 1px solid #003B6E;
}

.pg-wrap ul li {
  font-size: 15px;
  font-family: "Avenir LT W01 45 Book","Trebuchet MS",Arial,Helvetica,sans-serif;
  line-height: 1.5;
  color: #475e7b;
}

.pg-wrap ol li {
  font-size: 15px;
  font-family: "Avenir LT W01 45 Book","Trebuchet MS",Arial,Helvetica,sans-serif;
  line-height: 1.5;
  color: #475e7b;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #fff;
  font-family: "Avenir LT W01 85 Heavy","Trebuchet MS",Arial,Helvetica,sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: auto;
  border: 1px solid #0076c0;
  margin-top:20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #c35f18;
  text-transform: uppercase;
  font-size: 16px;
  : ;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #475e7b;
  font-family: "Avenir LT W01 85 Heavy","Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 200;
}

#pgc-contact-block li a:hover {
  color: #0a214f;
}

#pgc-contact-block li span {
  color: #0076c0;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  font-family: "Avenir LT W01 85 Heavy","Trebuchet MS",Arial,Helvetica,sans-serif;
  background: #fff;
  -moz-border-radius: 5px;
  border: 1px solid #0076c0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #003B6E;
}

#pgc-contact-footer-block li a {
  color: #475e7b;
  font-size: 15px;
  font-family: "Avenir LT W01 85 Heavy","Trebuchet MS",Arial,Helvetica,sans-serif;
  font-weight: 200;
}

#pgc-contact-footer-block li a:hover {
  color: #0a214f;
}

#pgc-contact-footer-block li span {
  color: #0076c0;
}

#pgc_resource_block {
  background: linear-gradient(#e09a37,#c35f18 70%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 17px;
  -webkit-box-shadow: 0px 0px 4px #eabb79;
  -moz-box-shadow: 0px 0px 4px #eabb79;
  box-shadow: #eabb79 0 1px 0 inset;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #fff;
  font-size: 15px;
  font-family: "Avenir LT W01 85 Heavy","Trebuchet MS",Arial,Helvetica,sans-serif;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #003b6e;
  color: #475e7b;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #003b6e;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: 13px;
  color: #0a214f;
  font-style: normal;
  text-transform: none;
  font-family: "Avenir LT W01 65 Medium","Trebuchet MS",Arial,Helvetica,sans-serif;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: 12px;
  color: #c35f18;
  font-style: normal;
  text-transform: none;
  font-family: "Avenir LT W01 65 Medium","Trebuchet MS",Arial,Helvetica,sans-serif;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  color: #0a214f;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 8px;
}

.pg-page-btns .pgc-title-btn {
  background-color: #003b6e;
}

