/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
* Edited by Lei Zhu
*/


/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Forms
  #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
@import url("/sites/all/themes/chatham/css/font-awesome.min.css");

#block-pgc-misc-blocks-mobilenav .header-mobile {
  background-color: rgba(0,32,91,0.8) !important;
  padding: 10px !important;
  width:93.5% !important;
  height:40px !important;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn {
    border: none !important;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 58px;
    left: -10px;
    top: -25px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
    content: "\f05c";
    font-family: "FontAwesome";
    font-size: 58px;
    left: -7px;
    top: -8px;
    position: absolute;
}

.pg-wrap a, .pg-wrap a:active {
    color: #0062aa;
}

.pg-wrap h1 {
    border-bottom: 3px solid #00205b;
	width: 100%;
}

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    
  .skipnav { 
      text-align: left; }
      
  .skipnav a { 
      position: absolute; 
      left: -10000px; 
      width: 1px; 
      height: 1px; 
      overflow: hidden; }
      
  .skipnav a:focus, .skipnav a:active { 
      position: static; 
      left: 0; 
      width: auto; 
      height: auto; 
      overflow: visible; 
      text-decoration: underline; }
    
  .colWidth {
    width: 25%;
    height: auto;
    vertical-align: top; }
    
  .colThird {
    width: 33%;
    height: auto;
    vertical-align: top; }
    
  .col-half {
    width: 50%;
    height: auto;
    vertical-align: top; }
    
  .col-two-third {
    width: 67%;
    height: auto;
    vertical-align: top; }
    
  .col-three-quarter {
    width: 75%;
    height: auto;
    vertical-align: top; }
    
  .col-event-time {
    width: 20%;
    height: auto;
    vertical-align: top; }
    
   .col-event-info {
    width: 80%;
    height: auto;
    vertical-align: top; }
    
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    
   .matching {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    }
    
    .report {
    margin: 0;
    width: 100%;
    height: 270px;
    overflow: hidden;
    }
    
    .form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    
    .gala {
    background-image: url("/sites/all/themes/cse/cssAssets/2016-gala-bg-940x275.jpg");
    background-repeat: no-repeat;
    width:auto;    
    height: auto;
    }

    .gala-box {
    background-image: url("/sites/all/themes/cse/cssAssets/2016-gala-box-purple.png");
    height:275px;
    width:300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    }

.gala-h3{
     font-size: 28px;
     line-height: 34px;
     margin-bottom: 8px;
     font-family: "Open Sans Condensed";
     color:#fff;
    padding-top:50px;
    padding-bottom:20px
}

.gala-button {
    background-image: url("/sites/all/themes/cse/cssAssets/2016-gala-white-box.png");
    height:38px;
    width:262px;
    margin-left: auto;
    margin-right: auto;
    padding-top:8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
}

.gala-button a, a:visited{
    color:#4c286c;
}

/* #Basic Styles
================================================== */
  body {
    background: #fff;
    font:14px/21px 'Open Sans', sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
  h1, h2, h3, h4, h5, h6 {
    color: #181818;
    xfont-family: "Georgia", "Times New Roman", serif;
    font-family: "Open Sans Condensed";
    font-weight: normal; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: 300; }
  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
  h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }
  .subheader { color: #777; }

  p { margin: 0 0 20px 0; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #777;  }

  em { font-style: italic; }
  strong { font-weight: bold; color: #333; }
  small { font-size: 80%; }
    .division { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
  .infoFor { font-size: 28px; line-height: 34px; margin-bottom: 8px; font-family: "Open Sans Condensed"; }
  .infoFor a { font-weight: 700; }
   .faq { font-size: 21px; line-height: 30px; margin-bottom: 4px; font-family: "Open Sans Condensed"; }
   .faq a { font-weight: 700; }
   .faq .center { display: block;
    margin-left: auto;
    margin-right: auto; }
    .related { font-size: 16px; line-height: 25px; margin-bottom: 3px; font-weight: bold; font-family: "Open Sans Condensed"; }
    
/*  Annual Fund Thermometer  */    
    .annual-fund { background: #f4f4f4; height: 358px; width: 262px; display: block; }
    .annual-fund-heading { font-size: 24px; font-family: "Open Sans Condensed"; font-weight: bold; color: #036; text-align: center; padding: 10px; }
    .annual-fund-hline { width:100%; height:1px; background: #fff; }
    .annual-fund-progress { padding: 10px; }
    .annual-fund-total { font-size: 40px; font-family: "Open Sans Condensed"; font-weight: bold; color: #036; padding-bottom: 8px; }
    .annual-fund-raised { font-size: 14px; font-family: "Open Sans"; color: #036; }
    .annual-fund-goal { font-size: 20px; font-family: "Open Sans Condensed"; font-weight: bold; color: #036; padding-top: 20px; }
    .annual-fund-button { display: block; margin-left: auto; margin-right: auto; text-align: center; padding-top: 30px; }
    
/*  Blockquotes  */
  blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #595959; font-style: italic; }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  blockquote cite { display: block; font-size: 12px; color: #555; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
  a, a:visited { color: #0062aa; text-decoration: none; font-weight: 700;}
  a:focus { color: #0062aa; outline: 0;}
  a:hover{ color:#f2702f; }
  /*p a, p a:visited { line-height: inherit; font-weight: bold;}
  li a, li a:visited { line-height: inherit; font-weight: bold;}*/
  .faq a {font-weight: 300;}
  .infoFor a {font-weight: 300;}
  li a.nav, li a.nav:visited { line-height: inherit; font-weight: normal;}


/* #Lists
================================================== */
  ul, ol { margin-bottom: 20px; }
  ul { list-style: none outside; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 100%;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: #f78d1d;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: normal;
    padding: 4px 10px;
    font-family: "Open Sans", Arial, sans-serif; }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: #fff;
    background: #f47c20;
    border:none;
 }

  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    color: #fff;
    background: #f47c20;
    border:none; 
 }

  .button.full-width,
  button.full-width,
  input[type="submit"].full-width,
  input[type="reset"].full-width,
  input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

  /* Fix for odd Mozilla border & padding issues */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


/* #Forms
================================================== */

  form {
    margin-bottom: 20px; }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],

  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
  input[type="password"]{
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    max-width: 100%;
    display: inline;
    margin-bottom: 20px;
    background: #fff;
  }
  select {
    padding: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
     color: #444;
     -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 14px;  }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 14px;
    color: #444; }

/* #Misc
================================================== */
  .remove-bottom { margin-bottom: 0 !important; }
  .half-bottom { margin-bottom: 10px !important; }
  .add-bottom { margin-bottom: 20px !important; }

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

