#give-now h3{
	font-size: 1.7rem;
}
#give-now p{
	font-size: 1rem;
}
.give-now ul li a h6 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 3.45em;
}

h5.link a{
	font-size:1.1rem;
}
#our-challenge ul{
	margin-left:3.5rem;
}

.give-now-block a p {
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}

.recent-news {
	text-align:center;
}

.recent-news h3{
	margin:5px 0 -15px 0;
}

.recent-news img{
	width:364px;
	margin:-8px 0 12px 0;
}

.home-video p{
	text-align:center;
	margin: 5px 0 2px 0;
}
