.pg-page-btns .pgc-share .atc_s{
	font-size:0;
}

.subnav-mobile-mask #main-menu li a{
	padding:20px;
}

.page-template-page-templatesforever_hayes_campaign-php .main-slogan p{
	background: #6e0000 url(/sites/default/files/CH_Planned_Giving_Slider.jpg) no-repeat center top;
}

@media only screen and (max-width: 999px) {
	
  li#ctatext-8{
  	display:none;
  }
  
}