.pg-wrap h3 {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #6e492a;
  text-transform: uppercase;
  
}

#main-menu {
  padding: 0;
  margin: 0;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #F6EBDF;
  color: #48423b;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap ul {
  font-size: 13px;
  line-height: 19px;
}

.pg-wrap ul li {
  font-size: 13px;
  line-height: 19px;
}

.pg-wrap ol {
  font-size: 13px;
  line-height: 19px;
}

.pg-wrap ol li {
  font-size: 13px;
  line-height: 19px;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #f6ebdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  behavior: url(/PIE.htc);
  width: 270px;
  float: right;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #48423b;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #48423b;
}

#pgc-contact-block li a:hover {
  color: #6e492a;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #6e492a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #f6ebdf;
}

#pgc_resource_block {
  background: #6e492a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  text-align: left;
  behavior: url(/PIE.htc);
  width: 270px;
  Float: right;
}

#pgc_resource_block a {
  color: #ffffff;
  font-size: 13px;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #f6ebdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #48423b;
  color: #6e492a;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #6e492a;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch:hover a {
  : ;
}

.pg-gift-details .accordion-switch span {
  : ;
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-how-gift-helps-item-text {
  font-size: 13px;
  line-height: 16px;
}

.pg-page-btns .pgc-title-btn {
  background-color: #015f9e;
}

