@import url('/sites/all/themes/cooper/css/imodbase.css');

/* This document contains STYLES for the application and related elements */

form#MainForm {width:100%;height:auto;height:100%;min-height:100%;}
.expand{background:#666;}/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.expand img{background:#666;float:none;display:block;}/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#divButtons {clear: both;}

/* new - as of 4/27/11 */
.idbmsBreadcrumbSeparator {color:#666;}/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* new - as of 5/6/15 */
div[id*="pnlBreadcrumbs"], div.idbmsBreadcrumbWrapper {display: block; padding: 0 0 25px;}/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* box settings ------------------------------*/
.DataGridHeader,.EventsHeader,.EventDonationDetail,.CampaignsHeader,td.PageManagerHeader,tr.PageManagerHeader,.Profile {padding: 2px 5px 2px 5px;border:1px solid #CCC;margin:5px 0;}
#PageInstructions, .EventsHeader{display:block;}
td.EventsHeader {display:table-cell;}

#PageInstructions,.error,.success,.profile,.filelibfiledetails,.eventsheader,.campaignsheader,.donationpaymentamount,table.profile, .MessageBoardsDataGridHeader,.FileLibraryFileList{display:block;}

.DataGridHeader{}
.EventDonationDetail{width:250px;}
	
/*  core ------------------------------*/
.HelpButton{color:#fff;background:#8E9296;border:solid 1px #fff;padding:2px;font-weight:bold;width:48px;text-align:center;}
.Error,.error {display: block;padding:5px 0 5px 25px;color:#BF0000;background:#FFE8E8 url(/sites/all/themes/cooper/cssAssets/exclamation.gif) no-repeat 2px;border:1px solid #BF0000;}
.Success,.success{display:block; padding:5px 0 5px 25px;color:#008000;background:#D0E8D0 url(/sites/all/themes/cooper/cssAssets/accept.gif) no-repeat 3px 2px;border: 1px solid #008000;}
.DataGridAltItem{background:#e8e8e8;}
.DataGridPager{font-weight:bold;letter-spacing:3px;line-height:20px;text-align:right;}
textarea{width:350px;}
table.Events {width:99%}

/* profile ------------------------------*/
.ProfileHeader{font-weight:bold;}
.ProfilePageTabHeadings{font-weight:bold;}

/* search ------------------------------*/
.SearchResultsDataGridAltItem{background:#e8e8e8;}
.SearchResultsDataGridPager{font-weight: bold;letter-spacing:3px;line-height:50px;}

/* message boards ------------------------------*/
table.HotTopics{width:250px;}
.MsgItem{background:#ccc;}
.MsgItemSubject{background:#ccc;}
.MsgItemInverse{background:#e8e8e8;}
.MsgItemSubjectInverse{background:#e8e8e8;}	
.LastPostingText{font-style: italic;color:#6B6B6B;}
.BadWordHighlight{font-weight:bold;color:#c42830;}
.MsgsReplyText{}
.MsgsDates{}

/* file library  ------------------------------*/
.FileLibFileDetails{background:#BCB8B8;width:250px;padding:2px 5px 2px 5px;}
.FileLibraryFileList{background:#E4E4E4;width:250px;padding: 2px 5px 2px 5px;}

/* events ------------------------------*/
td.StoreItemHeader{border-color:#666;}
div.divSaveLayout {z-index:999;}

/* donations ------------------------------*/
.DonationPaymentAmount{background:#E4E4E4;border:solid 1px #999;padding:2px 5px 2px 5px;}

/* pagemanager ------------------------------*/
table.PageManager{}

/* communications utility  ------------------------------*/
td.CommUtilHeader{background:#CCC;color:#FFF;}

/* Calendar Styling -----------------------------------*/
table.TableLayout_Business td {width:14%!important}
table.TableLayout_Default td {width:14%!important}
table.TableLayout_Inox td {width:14%!important}
table.TableLayout_Mac td {width:14%!important}
table.TableLayout_Modern td {width:14%!important}
table.TableLayout_Orange td {width:14%!important}
table.TableLayout_Outlook td {width:14%!important}
table.TableLayout_Stylish td {width:14%!important}
table.TableLayout_Sunny td {width:14%!important}
table.TableLayout_Telerik td {width:14%!important}
table.TableLayout_WebBlue td {width:14%!important}

.titlebar_Business {width:100%;}
.titlebar_Default {width:100%;}
.titlebar_iModules {width:100%;}
.titlebar_Inox {width:100%;}
.titlebar_Mac {width:100%;}
.titlebar_Modern {width:100%;}
.titlebar_Orange {width:100%;}
.titlebar_Outlook {width:100%;}
.titlebar_Stylish {width:100%;}
.titlebar_Sunny {width:100%;}
.titlebar_Telerik {width:100%;}
.titlebar_WebBlue {width:100%;}

.titlebar_Business > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Default > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_iModules > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Inox > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Mac > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Modern > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Orange > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Outlook > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Stylish > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Sunny > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_Telerik > tbody > tr > td:nth-child(3){width:75%!important;}
.titlebar_WebBlue > tbody > tr > td:nth-child(3){width:75%!important;}

/* System Pages that need "#PageTitle" */
.IMOD94 #PageTitle,
.IMOD95 #PageTitle,
.IMOD275 #PageTitle,
.IMOD287 #PageTitle,
.IMOD213 #PageTitle{ display:block;}
.IMOD275 .PageSubTitleHeader{ display:none;}

/* Attributes for system icons */
img[src="/images/icons/v2/common/brick_edit.gif"], 
img[src="/images/icons/v2/common/delete.gif"],
img[src="/images/icons/v2/common/arrow_out.gif"],
img[src="/images/e.gif"],
img[src="/images/spacer.gif"],
img[src="/images/icons/v2/bomb.png"] {border:0!important; padding:0!important; margin:0!important; float:none!important;}

/* Groups */
.groupHeaderOpened {height: 27px;}

/* image rotator */
.iModAnythingSlider .anythingBase {opacity:1;}


/***********************************************************/
/*** These are to be custom to each client site. This is why 
they are hidden in this stylesheet ***/ 

/*.idbmsBreadcrumbSeparator {color:#70a533!important;}
.expand img {background-color: #70a533!important;}
.expand {background-color: #70a533!important;}
.Error,.error {width:auto!important}*/

/**********************************************************/
/* hack for added space in content area 3/28/2012 */
/* .HoverToolBar2 {clear:none!important}*/

/* Default Login Buttons - added 12/20/12 */

/* SPECIFY A TAG COLORS IN LOCAL CSS */
div#loginBtnGrp {float:left; display:inline; width:100%;}
div#loginBtnGrp #rowHeader,
div#loginBtnGrp #rowInstructions,
div#loginBtnGrp .btnGrp {float:left; width:100%;}
div#loginBtnGrp #rowInstructions {padding:10px 0;}
div#loginBtnGrp #rowInstructions ul {padding-left:15px; margin:0;}
div#loginBtnGrp .btnGrp {margin:0px 5px 5px 0px; width:auto; clear:none;}
div#loginBtnGrp .btnGrp a { color:#fff;float:left; display:block;-webkit-border-radius: 3px; border-radius: 3px;behavior:url(/sites/all/themes/cooper/cssAssets/577e8f7e72002.htc); zoom:1; position:relative;}
div#loginBtnGrp .btnGrp a span {background:url(/sites/all/themes/cooper/cssAssets/bkgd_loginbtn_overlay.png) repeat-x bottom left; padding:5px 15px; display:block;-webkit-border-radius: 3px; border-radius: 3px;-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .4); box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .4); }
div#loginBtnGrp .btnGrp a:hover {text-decoration:none;}

/**********************************************************/
/* DEFAULT FORMS LAYOUT - NOW IN imod_flexforms.css!! */
/* Horizontal/Collapsing - labels on top of input on small screens */

/* -------------------------------------------------------------------------- */
/* Media Queries for Details Pages for Events/Donations/Memberships
/* -------------------------------------------------------------------------- */

/**********************************************************/
/* Responsive DIV-based event details page */
.imod_eventDetails {float:left; width:100%;}
.imod_eventDetails h2.imod_eventName {float:left; width:100%; text-align:center; padding:0 0 15px;}
.imod_eventDetails .imod_eventButtons {float:left; width:100%; text-align:center;}
.imod_eventDetails .imod_eventButtons input {}
.imod_eventDetails .imod_eventDescription {float:left; width:100%; clear:both; padding:30px 0;}
.imod_eventDetails .imod_eventDescription img { max-width:100%;}
.imod_eventDetails .imod_eventLocation {float:left; width:100%; padding:10px 0 0;}
.imod_eventDetails .imod_eventLocation span.locationLabel {font-weight:bold;}
.imod_eventDetails .imod_eventActivities {width:100%; float:left;}

.imod_eventDetails .imod_eventContact {display:block;float:left; width:49%;}
.imod_eventDetails .imod_eventDateLocation {float:right; width:49%;}

@media only screen and (max-width: 767px) {
	.imod_eventDetails .imod_eventContact,
	.imod_eventDetails .imod_eventDateLocation {float:left; width:100%;}
	.imod_eventDetails .imod_eventContact {padding-bottom:30px;}
	.fb_iframe_widget {display:none;}
}
@media only screen and (min-width: 769px) {
	.fb_iframe_widget {display:inline-block;}
}

/**********************************************************/
/* Responsive DIV-based campaign details page */
.imod_donationDetails {float:left; width:100%;}
.imod_donationDetails h2.imod_eventName {float:left; width:100%; text-align:center; padding:0 0 15px;}
.imod_donationDetails .imod_eventDescription {float:left; width:100%; clear:both; padding:30px 0;}
.imod_donationDetails .imod_eventDescription img { max-width:100%;}
.imod_donationDetails .imod_donationBtn {float:left; width:100%; text-align:center;}

@media only screen and (min-width: 768px) {
	.imod_donationDetails .imod_eventContact {display:block;float:left; width:100%;}
	.imod_donationDetails .imod_eventContact .imod_eventContactPrimary {float:left; width:49%;}
	.imod_donationDetails .imod_eventContact .imod_eventContactSecondary {float:right; width:49%;}
	.imod_donationDetails .imod_donationBtn {padding:0px;}
}

@media only screen and (min-width: 240px) {
	/*.imod_donationDetails .imod_eventContact {display:none;}*/
	.imod_donationDetails h2.imod_eventName {padding:0 0 0.5em;}
	.imod_donationDetails .imod_eventDescription {padding:0;}
	.imod_donationDetails .imod_donationBtn {padding:0px 0 1em;}
}


/**********************************************************/
/* Responsive DIV-based membership details page */
.imod_membershipDetails {float:left; width:100%;}
.imod_membershipDetails h2.imod_eventName {float:left; width:100%; text-align:center; padding:0 0 15px;}
.imod_membershipDetails .imod_eventDescription {float:left; width:100%; clear:both; padding:30px 0;}
.imod_membershipDetails .imod_eventDescription img {display:block; max-width:100%;}
.imod_membershipDetails .imod_membershipBtn {float:left; width:100%;}

@media only screen and (min-width: 240px) {
	/*.imod_membershipDetails .imod_eventContact {display:none;}*/
}
@media only screen and (min-width: 768px) {
	.imod_membershipDetails .imod_eventContact {display:block;float:left; width:100%;}
	.imod_membershipDetails .imod_membershipBtn {padding:50px 0 10px;}
	.imod_membershipDetails .imod_eventContactPrimary {float:left; width:49%;}
	.imod_membershipDetails .imod_eventContactSecondary {float:right; width:49%;}
}

