@font-face {
  font-family: 'FoundryGridnikReg';
  src: url('/sites/all/themes/cooper/cssAssets/foundrygridnik-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/sites/all/themes/cooper/cssAssets//sites/all/themes/cooper/cssAssets/foundrygridnik-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-regular-webfontt.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'FoundryGridnikMed';
  src: url('/sites/all/themes/cooper/cssAssets/foundrygridnik-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('/sites/all/themes/cooper/cssAssets//sites/all/themes/cooper/cssAssets/foundrygridnik-medium-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-medium-webfontt.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'FoundryGridnikBold';
  src: url('/sites/all/themes/cooper/cssAssets/foundrygridnik-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/sites/all/themes/cooper/cssAssets//sites/all/themes/cooper/cssAssets/foundrygridnik-bold-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/sites/all/themes/cooper/cssAssets/foundrygridnik-bold-webfontt.svg') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: TradeGothicNextReg;
	src: url('/sites/all/themes/cooper/cssAssets/TradeGothicNextLTPro-Rg.otf');
}
@font-face {
	font-family: TradeGothicNextBold;
	src: url('/sites/all/themes/cooper/cssAssets/TradeGothicNextLTPro-Bd.otf');
}
@font-face {
	font-family: TradeGothicNextLight;
	src: url('/sites/all/themes/cooper/cssAssets/TradeGothicNextLTPro-Lt.otf');
}