/* rotator */
.rotator {width:658px;margin:0px auto 0 auto;float:left;height:444px;position:relative;}


.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: medium none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.flexslider .slides > article {
    display: none;
}
.flexslider .slides img {
    display: block;
    width: 100%;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.slides:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
.no-js .slides > article:first-child {
    display: block;
}


.rotator #rot-start-stop {position:absolute;left:18px;top:189px;z-index:9999;}
.rotator #rot-start-stop a{width:23px;height:24px;display:block;text-indent:-9999em;}
.rotator #rot-start-stop a.start {background:url(images/play-pause-btn.png) bottom left no-repeat;}
.rotator #rot-start-stop a.stop {background:url(images/play-pause-btn.png) top left no-repeat;}

.rotator .sldimg img {
    border: 0 none;
    vertical-align: top;
	}
.rotator .bx-wrapper {height:444px;}	
	
.rotator .sldtxt {position:absolute;bottom:0px;left:0px;z-index:9998;width:629px;height:50px;padding:16px 15px;background:url(/s/-1090/images/rot-overlay.png) repeat;color:#000;}
.rotator .sldtxt .title,
.rotator .sldtxt .title a{font-weight:bold;font-size:18px;padding:0 0 4px 0;margin:0px;color:#000;}
.rotator .sldtxt .preview {width:400px;line-height:16px;font-size:14px;}
.rotator .bx-pager {position:absolute;bottom:34px;right:38px;z-index:99999;margin-left:-150px}
.rotator .bx-pager a {display:block;padding:0px;background-color:#808080;float:left;margin-left:8px;width:12px;height:18px;text-indent:-9999em;}
.rotator .bx-pager .pager-active {background:url(images/rot-nav-active.png) no-repeat;background-color:#fff;}
.rotator .bx-prev,
.rotator .bx-next {display:none;}
.rotator .rotator img[title="RSS Feed"] {display:none;}
.rotator .sldimg a {border:none!important;}

/*** events ****/
.eventsWrapper {;height:442px;border:1px solid #d7dae1;float:left;position:relative;}
.eventHeader {width:100%;height:53px;background-color:#efefef;border-bottom:1px solid #d7dae1;}
.eventHeader h2 {font-size:20px;color:#000;font-weight:normal;display:inline-block;/*ie7*/*zoom:1;*display:inline;margin:13px 0 0 30px}

/** events pattern **/
#ContentEvents {width:302px;height:305px;}

#ContentEvents .bx-wrapper,
#ContentEvents .bx-window,
#ContentEvents .bx_slider2,
#ContentEvents .bx-viewport {height:305px;}

#ContentEvents .eventWrapper {background:url(/s/1090/images/eventwrapper-stretch.gif) repeat-y;border-bottom:1px solid #d7dae1;height:76px!important;}
#ContentEvents .imodDateBlock {clear:both;width:94px;float:left;padding:18px 0 0 0;}
#ContentEvents .imodDateBlock .imodDateMonthAbrev {display:block;text-align:center!important;font-size:18px;text-transfrom:uppercase;}
#ContentEvents .imodDateBlock .imodDateDayAbrev {display:block;text-align:center;font-size:18px;font-weight:bold;color:#b0760b;}

#ContentEvents .imodTitleBlock {float:right;text-align:left;width:200px;padding:18px 0 0 0;}
#ContentEvents .imodTitleBlock .imodTools {display:block;float:right;}
#ContentEvents .imodTitleBlock .imodLink {display:block;font-size:16px;}
#ContentEvents .imodTitleBlock .imodLink a{display:block;text-decoration:none;font-size:16px;}
#ContentEvents .imodTitleBlock .imodLink a:hover {text-decoration:underline;}
#ContentEvents .imodTitleBlock .imodPreview {display:block;margin-bottom:15px;color:#aaa;}
/** foot **/
.eventFooter {position:absolute;bottom:0px;height:81px;width:100%;background-color:#efefef;}
.eventFooter a {background:url(/s/1090/images/plus.gif) right center no-repeat;padding-right:20px;font-size:14px;margin:30px 0 0 30px;display:inline-block;/*ie7*/*zoom:1;*display:inline;}

#ContentEvents .bx-pager {display:none;}
#ContentEvents .bx-prev {display:block;position:absolute;top:-54px;right:0px;background:url(/s/1090/images/event-prev.gif) no-repeat;width:53px;height:27px;text-indent:-9999em;}
#ContentEvents .bx-next {display:block;position:absolute;top:-27px;right:0px;background:url(/s/1090/images/event-next.gif) no-repeat;width:53px;height:27px;text-indent:-9999em;}


