/**
 *  User Styles
 *  -----------------------------------------------------------------------------------------------------------------
 *
 *  @version 0.1
 *  @package Deerfield 
 *  @todo Remaining Tasks
 *
 */


/* staff lists */
/*
.user-badge .user-avatar,
.user-badge .user-info { display: table-cell; vertical-align: top; }
.user-badge .user-avatar { padding: 0.125em 0.5em 0em 0em; width: 2.25em; }
.user-badge .user-name { font-size: 0.875em; }
.user-badge .meta { display: block;}

.user-profile-link .user-name { color: #42954b; }
*/
/* user/authors/employees */
/*
.author .user-recent-posts + .user-recent-comments { margin-top: 2em; }
.author .subtitle span + span:before { content: ', '; }

.author-details-column .heading { margin-bottom: 0em; }
.author .avatar { margin-bottom: 1.35em; }
.author .term-list { font-size: 0.875em; }
.author .term-list + .heading { margin-top: 1em; }
.involvement { display: block; padding-bottom: 0.25em; }
.contact-instructions { font-size: 0.875em; margin: 0em; }
.contact-info + .contact-instructions { margin-top: 1em; font-style: italic; font-weight: 500; }
*/