#mainnav a.a0, #nav-toggle {background-color: white;}

#globalnav li {display:inline-block;overflow:hidden;float:left;}
#globalnav a { font-family: arial sans-serif; display: inline-block; }

#mainnav a.a0, #nav-toggle { background-image:url(/sites/all/themes/martin/cssAssets/ie8_nav_back.png); }