#left,
nav,#globalnav,#mainnav,#footernav,#share,ul#socialmedia,
.hidden,.selectedit,.selectedit_preview,#tracker-onpage,
form
{
	display:					none;
}

body
{
	line-height:				155%;
	font-family:				georgia,serif;
	font-size:					9pt;
	color:						#333333;
}
a
{
	color:						#334466;
}


#main
{
	float:						left;
	width:						75%;
	margin-bottom:				1em;
}

#right
{
	padding:					0.5in 0 0 0.13in;
	width:						1.7in;
	overflow:					hidden;

	line-height:				12pt;
	font-size:					7pt;
}

article>article
{
	margin:						0 0 2.5em;
}

header
{
	page-break-after:			avoid;
	color:						black;
}

h1,h2,h3
{
	margin:						0.75em 0 0.25em;
	font-family:				sans-serif;
	font-weight:				bold;
	color:						#666666;
}
h1
{
	font-size:					200%;
}

h2
{
	font-size:					140%;
}

h3
{
	font-size:					120%;
}

p
{
	margin:						0 0 1em;
}

#footer
{
	clear:						both;
	margin:						1em 0 0;
	border-top:					0.25pt solid #999999;
	padding-top:				0.5em;

	font-size:					0.75em;
}

article#main a:link:after, article#main a:visited:after {
   content: " (" attr(href) ") ";
   font-family:		sans-serif;
   font-size: 90%;
   }




section#comments article>header
{
	margin:						0;
	font-family:				sans-serif;
	font-weight:				bold;
	color:						#666666;
}
section#comments article
{
	margin:						1em 0;
	border-bottom:				0.25pt solid #999999;
	padding:					0 0 1em;
	font-size:					8pt;
}
header p
{
	display:					inline;
	margin:						0 2em 0 0;
}
