#fancybox-wrap{
    top:15px !important;
    bottom:auto;
}
#fancybox-close{
	padding:0;
	margin:0;
}
#fancybox-outer{
	border-radius: 9px !important;
	border: 9px solid #dddddd !important;
    -moz-box-shadow: 0 0 12px 1px #111 !important;
    -webkit-box-shadow: 0 0 12px 1px #111 !important;
    box-shadow: 0 0 12px 1px #111 !important;
}
.up div{
	border-left: 7px solid transparent;
	border-bottom: 7px solid #444444;
	border-right: 7px solid transparent;	
	width: 0;
	height: 0;
	margin:0 auto;
}
.down div{
	border-left: 7px solid transparent;
	border-top: 7px solid #444444;
	border-right: 7px solid transparent;	
	width: 0;
	height: 0;
	margin:0 auto;
}
.pull{
	height: 11px;
	width: 65px;
	margin: 0 auto;
	cursor: pointer;
	background-color: #DDDDDD;
	border-radius: 0px 0px 9px 9px;
	padding-top:7px;
}