/*------------------------------------------------------------------
Master Stylesheet

Version:	1.0
Revised:	1/10/12
Author:		Mightyspark Industries, Matthew Miller
Useage:		Screen
-------------------------------------------------------------------*/
@import "/sites/all/themes/pinestreetinn/css/reset.css";
@import "/sites/all/themes/pinestreetinn/css/colorbox.css";
@import "/sites/all/themes/pinestreetinn/css/style.css";
