.pg-wrap h2 {
  text-decoratin: none;
  font-size: 1.6em;
  font-weight: 400;
  color: #333333;
}

#block-system-main-menu {
  -webkit-box-shadow: 0px 0px 0px #666;
  -moz-box-shadow: 0px 0px 0px #666;
  box-shadow: 0px 0px 1px #666;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  behavior: url(/PIE.htc);
  background: #0e6ba0;
}

#block-system-main-menu h2 a {
  display: block;
  background: #0e6ba0;
  line-height: 60px;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

#main-menu li a.active {
  color: #93cede;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #0e6ba0;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #0e6ba0;
  padding: 20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#pgc-contact-block li a:hover {
  color: #93cede;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #0e6ba0;
  padding: 10px 20px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #93cede;
}

#pgc_resource_block {
  background: #93cede;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #ffffff;
}

#pgc_resource_block a:hover {
  color: #0e6ba0;
}

.pg-gift-details .accordion-switch {
  border-top: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #93cede;
  text-decoration: none;
  padding: 0 15px;
  border: 0px solid #3774ab;
  color: #0e6ba0;
  display: block;
  font-size: 26px;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #0e6ba0;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 2.75rem;
  left: -2px;
  top: -2px;
  position: absolute;
}

.pgc-brochure-bg-top {
  background: #0e6ba0;
}

.pgc-brochure-header-text {
  background: #93cede;
  color: #ffffff;
}

.pgc-brochure-title {
  Color: #0e6ba0;
}

.pgc-brochure-body-title.pgc-font-color1 {
  Color: #93cede;
}

.pgc-brochure-body-title.pgc-font-color2 {
  Color: #0e6ba0;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  Color: #93cede;
}

.pgc-brochure-footer-text {
  background: #0e6ba0;
  color: #ffffff;
}

.pgc-brochure-footer-title {
  Color: #93cede;
}

span.pgc-brochure-footer-contact {
  Color: #93cede;
}

.pg-page-btns .pgc-title-btn {
  background-color: #0e6ba0;
}

