@font-face {
    font-family: "LL Circular Pro Black Web";
    src: url("../linked/lineto-circular-pro-black.eot");
    src: url("../linked/lineto-circular-pro-black.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-black.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Black Italic Web";
    src: url("../linked/lineto-circular-pro-blackitalic.eot");
    src: url("../linked/lineto-circular-pro-blackitalic.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-blackitalic.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-blackitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Bold Web";
    src: url("../linked/lineto-circular-pro-bold.eot");
    src: url("../linked/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-bold.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Bold Italic Web";
    src: url("../linked/lineto-circular-pro-bolditalic.eot");
    src: url("../linked/lineto-circular-pro-bolditalic.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-bolditalic.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-bolditalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Book Web";
    src: url("../linked/lineto-circular-pro-book.eot");
    src: url("../linked/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-book.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Book Italic Web";
    src: url("../linked/lineto-circular-pro-bookitalic.eot");
    src: url("../linked/lineto-circular-pro-bookitalic.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-bookitalic.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-bookitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Medium Web";
    src: url("../linked/lineto-circular-pro-medium.eot");
    src: url("../linked/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-medium.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Pro Medium Italic Web";
    src: url("../linked/lineto-circular-pro-mediumitalic.eot");
    src: url("../linked/lineto-circular-pro-mediumitalic.eot?#iefix") format("embedded-opentype"),
         url("../linked/lineto-circular-pro-mediumitalic.woff2") format("woff2"),
         url("../linked/lineto-circular-pro-mediumitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
