.pg-content-body {
  font-family: 'Montserrat', sans-serif;
}

.pg-wrap h1 {
  font-family: 'Montserrat', sans-serif;
  color: #036 !important;
  font-size: 2.8125rem;
}

.pg-wrap h2 {
  font-family: 'Montserrat', sans-serif;
  color: #036 !important;
}

.pg-wrap h3 {
  font-family: 'Montserrat', sans-serif;
  color: #036 !important;
}

.pg-wrap h4 {
  font-family: 'Montserrat', sans-serif;
  color: #036 !important;
}

.pg-wrap a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #036;
}

.pg-wrap a:hover {
  color: #009cde;
}

.pg-wrap p {
  font-family: 'Montserrat', sans-serif;
}

.pg-wrap blockquote {
  font-family: 'Montserrat', sans-serif;
}

#block-system-main-menu h2 a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #036;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#main-menu {
  list-style: none;
  padding-top: 15px;
  border-top: 1px solid #cdcdcd;
  margin-top: 10px;
}

#main-menu li {
  padding: 0.625rem 0;
}

#main-menu li a {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none !important;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
}

#main-menu li a:hover {
  color: #009cde;
}

#main-menu li a.active {
  color: #cf4520;
  font-weight: 800;
}

#main-menu ul {
  padding-left: 1.25rem;
  border-top: 0;
}

.pg-wrap table {
  border: 0;
  table-layout: fixed;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

.pg-wrap table tr {
  display: table-row !important;
  padding: 0 !important;
}

.pg-wrap table tr th {
  background-color: #009cde;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.pg-wrap table tr td {
  border: 1px solid #ddd;
  display: table-cell;
  width: auto !important;
  padding: 0 !important;
}

.pg-wrap ul {
  padding-left: 25px;
}

#block-pgc-contact-block-pgc-contact-block {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 15px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #036;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#pgc-contact-block li a {
  text-transform: uppercase;
  font-weight: 800;
  color: #036;
}

#pgc-contact-block li a:hover {
  color: #009cde;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 15px;
}

#pgc-contact-footer-block li a {
  text-transform: uppercase;
  font-weight: 800;
  color: #036;
}

#pgc-contact-footer-block li a:hover {
  color: #009cde;
}

#pgc_resource_block {
  padding: .8125rem 1.875rem;
  border: 1px solid;
  min-height: 3.375rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .5s ease,color .5s ease,border-color .5s ease;
  background-color: #fff;
  color: #009cde;
  border-color: #009cde;
}

#pgc_resource_block:hover {
  background-color: #036;
  color: #fff;
  border-color: #036;
  transition: color .5s ease;
}

#pgc_resource_block a {
  color: #009cde;
  font-weight: 800;
  font-size: 13px;
}

#pgc_resource_block a:hover {
  color: #fff;
  transition: color .5s ease;
}

#pgc_resource_block a.pgc-resource-icon:hover {
  color: #ffftransition:color .5s ease;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 0 0 15px;
}

.pg-gift-details .accordion-switch a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #036;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pg-gift-details .accordion-switch a:hover {
  color: #009cde;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  border-radius: 5px;
  background-color: rgba(0,0,0,.05);
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.3);
  border: 1px solid #cdcdcd;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
  color: #222;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
  color: #222;
}

.pgc-brochure-bg-top {
  background: #009cde;
}

.pgc-brochure-header-text {
  background: #036;
  color: #fff;
}

.pgc-brochure-title {
  color: #036;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #036;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #009cde;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #009cde;
}

.pgc-brochure-footer-text {
  background: #036;
}

.pgc-brochure-footer-title {
  color: #009cde;
}

span.pgc-brochure-footer-contact {
  color: #009cde;
}

.pg-page-btns .pgc-title-btn {
  background-color: #009cde;
}

