nav.subnav-mobile select{
	display:none;
}

.subnav-mobile-mask > ul{
	padding: 12px;
    background: #ededed;
    margin-left: 40px;
}
.subnav-mobile-mask a{
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 19px;
	text-transform:none !important;
}


.subnav-mobile-mask > ul li:before{
	content:'';
}

.subnav-mobile-mask > ul li.active-trail{
	position:relative;
}

.subnav-mobile-mask > ul li.active-trail:before{
	display: block;
    position: absolute;
    content: '';
    top: -1px;
    left: -18px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 19px 23px 0;
    border-color: transparent #00A4DE transparent transparent;
}

.subnav-mobile-mask ul li.active-trail > a {
    background: #00A4DE !important;
    border-bottom: #007eab !important;
}