.pg-content-body {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 30px;
}

.pg-wrap h1 {
  color: #003263;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}

.pg-wrap h2 {
  color: #003263;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
  text-align: left;
  padding: 20px 0px 10px;
  margin-bottom: 0;
}

.pg-wrap h3 {
  color: #003263;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  padding: 0px 0px;
}

#block-system-main-menu h2 a {
  font-size: 20px;
  font-weight: 600;
  color: #003263;
  padding-top: 13px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  margin-bottom: 0! important;
  text-transform: uppercase;
  width: 100% !important;
}

#main-menu {
  border-top: 3px solid #01796f;
}

#main-menu li a {
  border-bottom: 1px solid rgb(221, 221, 221);
  line-height: 1.7em;
  font-size: 16px !important;
  font-family: 'Open Sans';
  color: #000;
  padding: 12px 24px 12px 14px;
  font-weight: 300 !important;
}

#main-menu li a:hover {
  font-weight: 800;
}

#main-menu ul {
  margin-top: 0;
  border-top: 0;
}

#main-menu ul li {
  padding-left: 15px;
}

.pg-wrap table {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  table-layout: fixed;
}

.pg-wrap table tr {
  border: 1px solid rgb(221, 221, 221);
}

.pg-wrap table tr th {
  background-color: #003263;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.pg-wrap table tr td {
  padding: 5px;
}

.pg-wrap ul {
  list-style-type: disc !important;
}

.pg-wrap ul li {
  list-style-type: disc!important;
  margin-left: 0 !important;
}

.pg-wrap ol {
  padding-left: 20px;
}

.pg-wrap ol li {
  list-style-type: disc!important;
  margin-left: 0 !important;
}

#block-pgc-contact-block-pgc-contact-block {
  z-index: 10000;
  background-color: #4DA19A;
  box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

#block-pgc-contact-block-pgc-contact-block .title {
  font-size: 20px;
  font-weight: 600;
  color: #003263;
  padding-top: 13px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 27px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 3px solid #01796f;
}

#pgc-contact-block {
  list-style: none !important;
}

#pgc-contact-block li {
  list-style: none !important;
}

#pgc-contact-block li a {
  list-style: none !important;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background-color: #4DA19A;
  box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
}

#pgc-contact-footer-block li a {
  color: #003263;
  font-weight: 700;
}

#pgc_resource_block {
  background: #4DA19A;
  padding: 20px;
  z-index: 1000;
  display: inline-block !important;
}

#pgc_resource_block a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

#pgc_resource_block a:hover {
  text-decoration: none !important;
}

.pg-gift-details .accordion-switch {
  border: #007CC2 1px solid;
  padding: 10px 25px;
  background-color: #fff;
}

.pg-gift-details .accordion-switch:hover {
  background-color: #007CC2;
}

.pg-gift-details .accordion-switch a {
  text-transform: uppercase;
  font-size: 24px;
  color: #007CC2;
}

.pg-gift-details .accordion-switch a:hover {
  text-decoration: none ! important;
  color: #fff;
}

.pg-gift-details .accordion-switch:hover a {
  color: #fff !important;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  color: #007CC2;
  border: #007CC2 1px solid;
  padding: 10px 25px;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  color: #fff;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  color: #fff;
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background: #007CC2;
}

.pgc-brochure-header-text {
  background: #4DA19A;
  color: #ffffff;
}

.pgc-brochure-title {
  color: #007CC2;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #4DA19A;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #007CC2;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #007CC2;
}

.pgc-brochure-footer-text {
  background: #007CC2;
}

.pgc-brochure-footer-title {
  color: #ffffff;
}

span.pgc-brochure-footer-contact {
  color: #ffffff;
}

.pg-page-btns .pgc-title-btn {
  background-color: #007cc2;
}

.pgc-font-color1 {
  color: #007CC2;
}

