.pg-page-btns .pgc-share .atc_s{
	font-size:0;
}

#block-pgc-slideshow-block-pgc-slideshow-block + #block-pgc-misc-blocks-mobilenav {
    top: -104px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile{
	width:auto;
	background-color: #98012e;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    left: 0px;
    top: -15px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
    content: "\f05c";
    font-family: "FontAwesome";
    font-size: 2.75rem;
    left: 2px;
    top: 3px;
    position: absolute;
  }

#block-pgc-misc-blocks-mobilenav .control.close-btn {
    border: none;
}

.pg-content-body .child-page{
	padding:0px;
	padding-bottom:20px;
}


.subnav-mobile-mask ul{
	list-style: none;
}

@media only screen and (max-width: 767px) {
	
  .pg-content-inline-blocks{
  	float:none;
  	margin-left:0;
  }
}