.pg-content-body {
  color: #444;
}

.pg-wrap h1 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.pg-wrap h2 {
  font-size: 28px;
}

.pg-wrap p {
  color: #444;
  margin-top: 10px;
}

#block-system-main-menu {
  margin-top: 45px;
  margin-right: 15px;
  background: #e5eaf3;
  width: 220px;
}

#block-system-main-menu h2 a {
  font-family: "Open Sans";
  font-size: 24px;
  color: #98012e;
  font-weight: 300;
  line-height: 34px;
  background: #f8f9f9;
  margin-left: none;
  width: 210px;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-left: none;
}

#main-menu {
  background: #e5eaf3;
  padding-right: 10px;
}

#main-menu li {
  color: #2d2d2d;
}

#main-menu li a {
  margin-left: -18px;
  padding-right: none;
  width: 200px;
}

#main-menu li a:hover {
  width: 187px;
  margin-right: 10px;
  background: #f8f9f9;
}

#main-menu li a.active {
  background: #f8f9f9;
  width: 187px;
  margin-right: 10px;
}

#main-menu li.expanded ul li a {
  margin-left: -42px;
}

#main-menu ul ul li {
  margin-left: -26px;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  background: #f8f9f9;
}

.pg-wrap table tr th {
  background: #0f2d53;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #0f2d53;
}

.pg-wrap table tr td {
  color: #0f2d53;
  background: #f8f9f9;
  padding: 7px;
  border: 1px solid #0f2d53;
}

.pg-wrap ul {
  line-height: 20px;
  margin-bottom: 15px;
}

.pg-wrap ul li {
  padding-bottom: 4px;
}

.pg-wrap ol {
  line-height: 20px;
  margin-bottom: 15px;
}

.pg-wrap ol li {
  padding-bottom: 4px;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #98012e;
  padding: 20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 28px;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li {
  : ;
}

#pgc-contact-block li:hover {
  : ;
}

#pgc-contact-block li a {
  color: #fff;
  font-size: 16px;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #98012e;
  padding: 10px 20px;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
  font-size: 1.2em;
}

#pgc-contact-footer-block li a:hover {
  : ;
}

#pgc-contact-footer-block li span {
  : ;
}

#pgc_resource_block {
  background: #e5eaf3;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  font-size: 16px;
  color: #0f2d53;
}

#pgc_resource_block a:hover {
  : ;
}

.pg-gift-details .accordion-switch a {
  background: #e5eaf3;
  padding: 0 15px;
  color: #0f2d53;
  display: block;
  font-size: .8em;
  font-weight: 400;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #0f2d53;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  : ;
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-how-gift-helps-item-text {
  margin-top: 10px;
}

.pgc-brochure-bg-top {
  background: #0f2d53;
}

.pgc-brochure-header-text {
  background:#98012e;
  color: #fff;
}

.pgc-brochure-title {
  color: #98012e;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #98012e;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #0f2d53;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #0f2d53;
}

.pgc-brochure-footer-text {
  background:#98012e;
}

.pgc-brochure-footer-title {
  color: #0f2d53;
}

span.pgc-brochure-footer-contact {
  font-weight: 600;
}

.pg-page-btns .pgc-title-btn {
  background-color: #0f2d53;
}

