.navmod li a:hover, .navmod li a.navon, #navtable_543 .nav_history  {
    background-color:#004c97;
    color:#FFF;
}

.navmod li+li a:hover, .navmod li+li a.navon, #navtable_544 .nav_history {
    background-color:#004c97;
    color:#FFF;
}
.navmod li+li+li a:hover, .navmod li+li+li a.navon, #navtable_545 .nav_history {
    background-color:#004c97;
    color:#FFF;
}

.navmod li+li+li+li a:hover, .navmod li+li+li+li a.navon, #navtable_546 .nav_history {
    background-color:#004c97;
    color:#FFF;
}

.navmod li+li+li+li+li a:hover, .navmod li+li+li+li+li a.navon, #navtable_547 .nav_history {
    background-color:#004c97;
    color:#FFF;
}

.navmod li+li+li+li+li+li a:hover, .navmod li+li+li+li+li+li a.navon, #navtable_530 .nav_history {
    background-color:#004c97;
    color:#FFF;
}
.navmod li+li+li+li+li+li+li a:hover, .navmod li+li+li+li+li+li+li a.navon, #navtable_530 .nav_history {
    background-color:#004c97;
    color:#FFF;
}
.navmod li+li+li+li+li+li+li+li a:hover, .navmod li+li+li+li+li+li+li+li a.navon, #navtable_582 .nav_history {
    background-color:#004c97;
    color:#FFF;
}
.navmod li+li+li+li+li+li+li+li+li a:hover, .navmod li+li+li+li+li+li+li+li+li a.navon, #navtable_530 .nav_history {
    background-color:#004c97;
    color:#FFF;
}