.header-image {
	display: none;
}

.actnow-upper{
	margin-top:30px;
}

@media only screen and (max-width: 1199px) {
	.col-md-3 {
		width: 50% !important;
	}
	.act-now-img img {
		width: 100% !important;
		height: auto !important;
	}
}

@media only screen and (max-width: 999px) {

	#block-pgc-misc-blocks-mobilenav {
		padding-top: 20px;
	}
	#block-system-main-menu {
		display: none;
	}	
}

@media only screen and (max-width: 767px) {
	.col-md-3 {
		width: 100% !important;
	}
}