.pg-content-body {
  color: #707070;
  font-size: 1rem;
}

.pg-wrap h1 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

.pg-wrap h2 {
  font-size: 1.5em;
}

.pg-wrap h3 {
  font-size: 1.17em;
}

.pg-wrap h4 {
  font-size: 1em;
}

.pg-wrap a {
  text-decoration: none;
}

.pg-wrap p {
  font-size: 1em;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #003b70;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td {
  color: #000;
  background: #ebe8e1;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap ul {
  color: #707070;
}

.pg-wrap ul li {
  color: #707070;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #003B70;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px;
  padding: 20px;
  : ;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#pgc-contact-block li a:hover {
  color: #00c0f2;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #003B70;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-left: 20px;
  padding-top: 10px;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #00c0f2;
}

#pgc_resource_block {
  background: #fff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 0px;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #003b70;
}

#pgc_resource_block a:hover {
  color: #00c0f2;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #4873a2;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 0 15px;
  border: 0px solid #3774ab;
  color: #FFFFFF;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #003B70;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
  color: #999;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: 8px;
  font-style: normal;
  text-transform: none;
  color: #999;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  color: #00C0F2;
}

.pgc-brochure-bg-top {
  background: #00c0f2;
}

.pgc-brochure-header-text {
  background: #003B70;
  color: #fff;
}

.pgc-brochure-title {
  color: #003B70;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #003B70;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #00c0f2;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #00c0f2;
}

.pgc-brochure-footer-text {
  background: #003B70;
}

.pgc-brochure-footer-title {
  color: #00c0f2;
}

span.pgc-brochure-footer-contact {
  color: #00c0f2;
}

.pg-page-btns .pgc-title-btn {
  background-color: #4873a2;
}

