.pg-content-body {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  margin-right: 10px;
}

.pg-wrap h1 {
  color: #4b2b23 !important;
  font-family: polyregular,arial,sans-serif !important;
  font-size: 1.7em !important;
}

.pg-wrap h2 {
  color: #a90018;
  font-family: polyregular,arial,sans-serif;
  margin-bottom: 5px;
}

.pg-wrap h3 {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 7px;
  font-size: 18px;
}

.pg-wrap a {
  text-decoration: underline;
  color: #a90018;
}

.pg-wrap a:hover {
  text-decoration: none;
  color: #a90018;
}

.pg-wrap a:visited {
  text-decoration: underline;
  color: #a90018;
}

.pg-wrap a:active {
  text-decoration: underline;
  color: #a90018;
}

.pg-wrap p {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
}

#block-system-main-menu {
  width: 220px;
}

#block-system-main-menu h2 a {
  color: #a90018;
  text-decoration: none;
  font-family: polyregular,arial,sans-serif;
  line-height: 100px;
}

#main-menu li {
  text-decoration: none;
}

#main-menu li:hover {
  text-decoration: none;
}

#main-menu li a {
  text-decoration: none;
}

#main-menu li a:hover {
  text-decoration: none;
}

#main-menu li:hover a {
  text-decoration: none;
}

#main-menu li.expanded a {
  text-decoration: none;
}

#main-menu li.collapsed a {
  text-decoration: none;
}

#main-menu li a.active {
  text-decoration: none;
}

#main-menu li.active-trail {
  text-decoration: none;
}

#main-menu li.active-trail:hover {
  text-decoration: none;
}

#main-menu li.active-trail a {
  text-decoration: none;
}

#main-menu li.active-trail a:hover {
  text-decoration: none;
}

#main-menu li.active-trail:hover a {
  text-decoration: none;
}

#main-menu li.last a {
  text-decoration: none;
}

#main-menu li:hover ul {
  text-decoration: none;
}

#main-menu ul {
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

#main-menu ul li {
  text-decoration: none;
}

#main-menu ul li:hover {
  text-decoration: none;
}

#main-menu li.expanded ul li a {
  text-decoration: none;
}

#main-menu ul li a.active {
  text-decoration: none;
}

#main-menu ul li a:hover {
  text-decoration: none;
}

#main-menu ul li.active-trail {
  text-decoration: none;
}

#main-menu ul li.active-trail:hover {
  text-decoration: none;
}

#main-menu ul li.active-trail a {
  text-decoration: none;
}

#main-menu ul li.active-trail a:hovered {
  text-decoration: none;
}

#main-menu ul li:hover ul {
  text-decoration: none;
}

#main-menu ul ul {
  text-decoration: none;
}

#main-menu ul ul li {
  text-decoration: none;
}

#main-menu ul ul li:hover {
  text-decoration: none;
}

#main-menu li.expanded ul ul li a {
  text-decoration: none;
}

#main-menu ul ul li a:hover {
  color: #a90018;
  text-decoration: none;
}

#main-menu ul ul li a.active {
  text-decoration: none;
}

#main-menu ul ul li.active-trail {
  text-decoration: none;
}

#main-menu ul ul li.active-trail:hover {
  text-decoration: none;
}

#main-menu ul ul li.active-trail a {
  text-decoration: none;
}

#main-menu ul ul li.active-trail a:hovered {
  text-decoration: none;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #4b2b23;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
}

.pg-wrap ul {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pg-wrap ul li {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
}

.pg-wrap ol {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
}

.pg-wrap ol li {
  color: #666666;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #e5e5e5;
  border-radius: 3px;
  padding: 5px 10px 10px 10px;
  clear: both;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-right: 10px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #4b2b23;
  font-family: open_sansbold,arial;
  font-size: 1.2em;
  line-height: 1.5em;
}

#pgc-contact-block li a {
  color: #4b2b23;
  font-family: open_sansregular,arial;
  font-size: .95em;
}

#pgc-contact-block li a:hover {
  color: #a90018;
}

#pgc-contact-block li span {
  color: #4b2b23;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #e5e5e5;
  border-radius: 3px;
  padding: 5px 10px 10px 10px;
  clear: both;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-right: 10px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #4b2b23;
  font-family: open_sansregular,arial;
  font-size: .95em;
}

#pgc-contact-footer-block li a {
  color: #4b2b23;
  font-family: open_sansregular,arial;
  font-size: .95em;
}

#pgc-contact-footer-block li a:hover {
  color: #a90018;
  font-family: open_sansregular,arial;
  font-size: .95em;
}

#pgc-contact-footer-block li span {
  color: #4b2b23;
}

#pgc_resource_block {
  float: left;
  background-color: #a90018;
  padding: 15px 20px;
  font-family: open_sansregular,arial;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
}

#pgc_resource_block a {
  color: #fff;
  font-weight: bold;
  font-family: open_sansregular,arial;
  font-size: .95em;
}

#pgc_resource_block a:hover {
  color: #decfa8;
}

.pg-gift-details .accordion-switch a {
  background-color: #4b2b23;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #4b2b23;
  color: #ffffff;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
  text-decoration: none;
}

.pg-gift-details .accordion-switch a:hover {
  background-color: #a90018;
  border: 1px solid #a90018;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  color: #4b2b23;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
      font-family: "FontAwesome";
  font-size: 2.75rem;
  left: -2px;
  top: -2px;
  position: absolute;
}

.pg-page-btns .pgc-title-btn {
  background-color: #4b2b23;
}

