.pgc-title-btn [class^="icon-"]:before, .block-pgc-contact-block [class^="icon-"]:before, .block-pgc-resource-block [class^="icon-"]:before, .pg-gift-details [class^="icon-"]:before, .pg-content-footer [class^="icon-"]:before, .pgc-title-btn [class*=" icon-"]:before, .block-pgc-contact-block [class*=" icon-"]:before, .block-pgc-resource-block [class*=" icon-"]:before, .pg-gift-details [class*=" icon-"]:before, .pg-content-footer [class*=" icon-"]:before {
    font-family: 'pgcalc-marketing' !important;
}

#block-system-main-menu > div.content > ul#main-menu > li > a::before {
    position: absolute;
    top: .52941rem;
    bottom: .52941rem;
    left: 0;
    background: #bcbebf;
    content: '';
    transition: background-color .5s;
    width: 4px;
}

/*
#block-system-main-menu > div.content > ul#main-menu > li > a {
	position: relative; 
    color: #262d32;
    font: 700 1.17647rem/1.3 "Roboto",sans-serif;
    display: block;
    line-height: 1.3;
    padding: 1.17647rem .88235rem;
}
*/

#block-system-main-menu > div.content > ul#main-menu > li > a:hover::before {   
    background: #1468a0;
}

#block-system-main-menu > div.content > ul#main-menu > li.active-trail {
    background: #f0f0f0;
}

#giftCompare tbody{
	border:none;
}

#block-pgc-misc-blocks-mobilenav .header-mobile{
	width:auto;
	background-color: #00bcb4;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    left: 0px;
    top: -20px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
    content: "\f05c";
    font-family: "FontAwesome";
    font-size: 2.75rem;
    left: 0px;
    top: -7px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn {
    border: none;
}

.subnav-mobile-mask ul{
	list-style-type:none;
}

@media only screen and (max-width: 999px) {
	
  aside.small-12{
  	display:none;
  }
}

@media only screen and (max-width: 767px) {
	
  .pg-content-inline-blocks{
  	float:none;
  	margin-left:0;
  }
}
