
/*====================================================*/
/* FILE /sedlex/inline_styles/3ca942a72ee59980469715872516d870e3cd1f79.css*/
/*====================================================*/
.shorten_url { 
	padding: 10px 10px 10px 10px ; 
	border: 1px solid #AAAAAA ; 
	background-color: #EEEEEE ; 
}
