#block-system-main-menu h2 a {
  color: #48a23f;
  font-family: 'Montserrat-light':;
  Text-transform: uppercase;
  Font-size: 25px;
  font-weight: 700;
  border-bottom: 2px solid #005EB8;
  line-height: 40px;
}

#main-menu {
  padding: 0;
  margin: 0;
}

#main-menu li a {
  font-size: 1.1em;
  font-family: 'Montserrat';
  font-weight: 400;
  border-bottom: 2px solid #005eb8;
  : #005EB8;
  line-height: 40px;
}

#main-menu li a.active {
  color: #005eb8;
  font-weight: normal;
}

#main-menu li.expanded ul li a {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
  line-height: 30px;
}

#main-menu li.expanded ul ul li a {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #48a23f;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
  text-align: left;
  padding-left: 25px;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
  text-align: left;
  padding-left: 25px;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #005eb8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  : ;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#pgc-contact-block li a:hover {
  color: #48a23f;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #005eb8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #48a23f;
}

#pgc_resource_block {
  background: #48a23f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #ffffff;
}

#pgc_resource_block a:hover {
  color: #001E60;
}

.pg-gift-details .accordion-switch {
  border-top: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #58a23f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  color: #ffffff;
  display: block;
  font-size: 25px;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #59cbe8;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb {
  : ;
}

.pg-breadcrumb .pg-breadcrumb-links {
  : ;
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  : ;
  font-size: .9em;
  font-style: normal;
  text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  text-decoration: underline;
  color: ;
}

.pgc-brochure-bg-top {
  background: #48a23f;
}

.pgc-brochure-header-text {
  background: #005eb8;
  color: #fff;
}

.pgc-brochure-title {
  color:  #005eb8;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color:  #005eb8;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color:  #48a23f;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color:  #48a23f;
}

.pgc-brochure-footer-text {
  background: #005eb8;
}

.pgc-brochure-footer-title {
  color:  #48a23f;
}

span.pgc-brochure-footer-contact {
  color:  #48a23f;
}

.pg-page-btns .pgc-title-btn {
  background-color: #005eb8;
}

