@charset "UTF-8";

.m-pikabu-viewport {
	position: relative;
/*	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;*/
	overflow: hidden;
	/*-webkit-perspective: 1000;*/
	/*-webkit-transform: translateZ(0);*/
	-webkit-backface-visibility: hidden
}
.m-pikabu-sidebar {
	position: absolute;
	overflow: visible;
	display: block;
	width: 70%;
	background: #222
}
.m-pikabu-sidebar.m-pikabu-left {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0)
}
.m-pikabu-sidebar.m-pikabu-right {
	right: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}
.m-pikabu-left-visible .m-pikabu-sidebar.m-pikabu-left, .m-pikabu-right-visible .m-pikabu-sidebar.m-pikabu-right {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.m-pikabu-container {
	width: 100%;
	-webkit-backface-visibility: hidden
}
.m-pikabu-left-visible .m-pikabu-container.m-pikabu-left, .m-pikabu-right-visible .m-pikabu-container.m-pikabu-right {
	position: absolute
}
.m-pikabu-left-visible .m-pikabu-container {
	-webkit-transform: translate3d(70%, 0, 0);
	-moz-transform: translate3d(70%, 0, 0);
	-ms-transform: translate3d(70%, 0, 0);
	-o-transform: translate3d(70%, 0, 0);
	transform: translate3d(70%, 0, 0)
}
.m-pikabu-right-visible .m-pikabu-container {
	-webkit-transform: translate3d(-70%, 0, 0);
	-moz-transform: translate3d(-70%, 0, 0);
	-ms-transform: translate3d(-70%, 0, 0);
	-o-transform: translate3d(-70%, 0, 0);
	transform: translate3d(-70%, 0, 0)
}
.m-pikabu-container, .m-pikabu-sidebar {
	-webkit-transition: -webkit-transform 0.2s ease-in;
	-moz-transition: -webkit-transform 0.2s ease-in;
	-o-transition: -webkit-transform 0.2s ease-in;
	transition: -webkit-transform 0.2s ease-in
}
.m-pikabu-overlay {
	display: none
}
.m-pikabu-left-visible .m-pikabu-overlay, .m-pikabu-right-visible .m-pikabu-overlay {
	position: absolute;
	top: 0;
	z-index: 999;
	display: block;
	height: 100%;
	width: 100%;
	cursor: pointer
}
.m-pikabu-overflow-scrolling .m-pikabu-sidebar {
	overflow: auto
}
.m-pikabu-overflow-touch {
	-webkit-overflow-scrolling: touch
}
/* iModules Left Nav Default Styling */
.m-pikabu-sidebar .mainNav {
}
.m-pikabu-sidebar .mainNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #444
}
.m-pikabu-sidebar .mainNav ul li {
	border-top: 1px solid #444;
}
.m-pikabu-sidebar .mainNav ul li a {
	color: #FFFFFF;
	display: block;
	font-size: 1.1em;
	line-height: normal;
	padding: 0.5em 1em;
}
.m-pikabu-sidebar .mainNav ul li a:hover {
	background: #333;
	text-decoration: none;
}
.m-pikabu-sidebar .mainNav ul ul {
	border-bottom: none
}
.m-pikabu-sidebar .mainNav ul ul li {
	border-top: 1px solid #222;
	background: #111;
}
.m-pikabu-sidebar .mainNav ul ul li a {
	color: #FFFFFF;
	display: block;
	font-size: 1em;
	line-height: normal;
	padding: 0.5em 1em 0.5em 2.5em;
}
.m-pikabu-sidebar .mainNav ul ul li a:hover {
	background: #333;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1001px) {
/* Styles */

}

/* Mobile (smaller than tablet) Styles */
@media only screen and (max-width: 767px) {
/*.m-pikabu-viewport {overflow:hidden;}*/
}

/* Mobile (portrait view) styles */
@media only screen and (max-width: 479px) {
}

/* IE Fixes (not supported by 8 or 9) */
.ie8 .m-pikabu-sidebar,
.ie9 .m-pikabu-sidebar {display:none!important;}

/* Fix for height that is applied when window is resized */
html.m-pikabu-closed .m-pikabu-viewport {height:auto !important;}

/* Fix for cut off when nav has accordion items */
.m-pikabu-sidebar {overflow-y:auto}