.pg-wrap h1 {
  font-family: Roboto,sans-serif;
  font-size: 34px;
  line-height: 1.25em;
  font-weight: 800;
  color: #333;
}

.pg-wrap h2 {
  font-family: Roboto,sans-serif;
  font-size: 34px;
  line-height: 1.25em;
  font-weight: 800px;
  color: #333;
}

#main-menu li.expanded ul li a {
  padding-left: 10px;
}

#main-menu li.expanded ul ul li a {
  padding-left: 20px;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #00B0EC;
  color: #fff !important;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
  height: 80px;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #00B0EC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff !important;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#pgc-contact-block li a:hover {
  color: #f5c03b;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #00B0EC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  : ;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
}

#pgc-contact-footer-block li:hover {
  color: #00B0EC !important;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #00B0EC !important;
}

#pgc_resource_block {
  background: #f5c03b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block:hover {
  background: #00B0EC;
}

#pgc_resource_block a {
  color: #fff;
}

.pg-gift-details .accordion-switch a {
  background: #f5c03b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  : ;
  color: #fff !important;
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
  width: 400px;
}

.pg-gift-details .accordion-switch a:hover {
  background: #00B0EC;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: 12px;
  font-style: normal;
  text-transform: none;
  color: #333333;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: 12px;
  font-style: normal;
  text-transform: none;
  color: #333333;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  color: #00B0EC;
}

.pg-how-gift-helps-item-text {
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  background: #00B0EC;
  Border-radius: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 15px;
  content: '\f0c9';
  font-family: 'FontAwesome';
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 15px;
  content: '\f05c';
  font-family: 'FontAwesome';
}

.pgc-brochure-bg-top {
  height: 80px;
  background: #00B0EC;
}

.pgc-brochure-header-text {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  background: #f5c03b;
}

.pgc-brochure-logo {
  width: 200px;
}

.pgc-brochure-logo img {
  width: 200px;
}

.pgc-brochure-title {
  color: #00B0EC;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #f5c03b;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #00B0EC;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #00B0EC;
}

.pgc-brochure-footer-text {
  background: #00B0EC;
  color: #fff;
}

.pgc-brochure-footer-title {
  font-size: 26px;
  margin-bottom: 10px;
  color: #ffffff !important;
}

span.pgc-brochure-footer-contact {
  color: #ffffff;
}

.pg-page-btns .pgc-title-btn {
  background-color: #00b0ec;
}

.pgc-font-color1 {
  color: #f5c03b;
}

.pgc-font-color2 {
  color: #00b0ec;
}

