#autocomplete{border:1px solid;overflow:hidden;position:absolute;z-index:100;}#autocomplete ul{list-style:none;list-style-image:none;margin:0;padding:0;}#autocomplete li{background:#fff;color:#000;cursor:default;white-space:pre;zoom:1;}html.js input.form-autocomplete{background-image:url(/sites/all/themes/stlawu/cssAssets/throbber-inactive.png);background-position:100% center;background-repeat:no-repeat;}html.js input.throbbing{background-image:url(/sites/all/themes/stlawu/cssAssets/throbber-active.gif);background-position:100% center;}html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;height:1em;}html.js fieldset.collapsed .fieldset-wrapper{display:none;}fieldset.collapsible{position:relative;}fieldset.collapsible .fieldset-legend{display:block;}.form-textarea-wrapper textarea{display:block;margin:0;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.resizable-textarea .grippie{background:#eee url(/sites/all/themes/stlawu/cssAssets/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;height:9px;overflow:hidden;}body.drag{cursor:move;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin-left:-1em;overflow:hidden;text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{background:url(/sites/all/themes/stlawu/cssAssets/draggable.png) no-repeat 6px 9px;height:13px;margin:-0.4em 0.5em;padding:0.42em 0.5em;width:13px;}a.tabledrag-handle-hover .handle{background-position:6px -11px;}div.indentation{float:left;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;width:20px;}div.tree-child{background:url(/sites/all/themes/stlawu/cssAssets/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/sites/all/themes/stlawu/cssAssets/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(/sites/all/themes/stlawu/cssAssets/tree.png) no-repeat -11px center;}.tabledrag-toggle-weight-wrapper{text-align:right;}table.sticky-header{background-color:#fff;margin-top:0;}.progress .bar{background-color:#fff;border:1px solid;}.progress .filled{background-color:#000;height:1.5em;width:5px;}.progress .percentage{float:right;}.ajax-progress{display:inline-block;}.ajax-progress .throbber{background:transparent url(/sites/all/themes/stlawu/cssAssets/throbber-active.gif) no-repeat 0px center;float:left;height:15px;margin:2px;width:15px;}.ajax-progress .message{padding-left:20px;}tr .ajax-progress .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.container-inline div,.container-inline label{display:inline;}.container-inline .fieldset-wrapper{display:block;}.nowrap{white-space:nowrap;}html.js .js-hide{display:none;}.element-hidden{display:none;}.element-invisible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;}.element-invisible.element-focusable:active,.element-invisible.element-focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}* html .clearfix{height:1%;}*:first-child + html .clearfix{min-height:1%;}
div.messages{background-position:8px 8px;background-repeat:no-repeat;border:1px solid;margin:6px 0;padding:10px 10px 10px 50px;}div.status{background-image:url(/sites/all/themes/stlawu/cssAssets/message-24-ok.png);border-color:#be7;}div.status,.ok{color:#234600;}div.status,table tr.ok{background-color:#f8fff0;}div.warning{background-image:url(/sites/all/themes/stlawu/cssAssets/message-24-warning.png);border-color:#ed5;}div.warning,.warning{color:#840;}div.warning,table tr.warning{background-color:#fffce5;}div.error{background-image:none;border-color:#ed541d;}div.error,.error{color:#8c2e0b;}div.error,table tr.error{background-color:#fef5f1;}div.error p.error{color:#333;}div.messages ul{margin:0 0 0 1em;padding:0;}div.messages ul li{list-style-image:none;}
fieldset{margin-bottom:1em;padding:0.5em;}form{margin:0;padding:0;}hr{border:1px solid gray;height:1px;}img{border:0;}table{border-collapse:collapse;}th{border-bottom:3px solid #ccc;padding-right:1em;text-align:left;}tbody{border-top:1px solid #ccc;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}th.active img{display:inline;}td.active{background-color:#ddd;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;}.form-item,.form-actions{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}.form-item .description{font-size:0.85em;}label{font-weight:bold;}label.option{display:inline;font-weight:normal;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.form-type-radio .description,.form-type-checkbox .description{margin-left:2.4em;}input.form-checkbox,input.form-radio{vertical-align:middle;}.marker,.form-required{color:#f00;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.container-inline .form-actions,.container-inline.form-actions{margin-top:0;margin-bottom:0;}.more-link{text-align:right;}.more-help-link{text-align:right;}.more-help-link a{background:url(/sites/all/themes/stlawu/cssAssets/help.png) 0 50% no-repeat;padding:1px 0 1px 20px;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}#autocomplete li.selected{background:#0072b9;color:#fff;}html.js fieldset.collapsible .fieldset-legend{background:url(/sites/all/themes/stlawu/cssAssets/menu-expanded.png) 5px 65% no-repeat;padding-left:15px;}html.js fieldset.collapsed .fieldset-legend{background-image:url(/sites/all/themes/stlawu/cssAssets/menu-collapsed.png);background-position:5px 50%;}.fieldset-legend span.summary{color:#999;font-size:0.9em;margin-left:0.5em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}.tabledrag-toggle-weight{font-size:0.9em;}body div.tabledrag-changed-warning{margin-bottom:0.5em;}tr.selected td{background:#ffc;}td.checkbox,th.checkbox{text-align:center;}.progress{font-weight:bold;}.progress .bar{background:#ccc;border-color:#666;margin:0 0.2em;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.progress .filled{background:#0072b9 url(/sites/all/themes/stlawu/cssAssets/progress.gif);}

.pg-content-body {
    color: #000 !important;
}

.form-required {
    color: #000 !important;
}

.form-item label {
    display:initial !important;
    font-weight: bold !important;
}

.webform-container-inline label {
    margin-right:0px;
}

#edit-submitted-names, #edit-submitted-class-years, #edit-submitted-address, #edit-submitted-city-state-zip, #edit-submitted-dates-of-birth {
    width:250px;
    line-height:18px;
}

#edit-submitted-will-or-living-amount, #edit-submitted-ira-retirement-value, #edit-submitted-life-insurance-value,
#edit-submitted-charitable-trust-value, #edit-submitted-donor-advised-amount, #edit-submitted-other-gift-and-value,
#edit-submitted-specific-dollar-amount, #edit-submitted-percentage, #edit-submitted-contingency {
    width:200px;
    line-height:18px;
}

#edit-actions {
    text-align: center;
}

#webform-component-names, #webform-component-class-years, #webform-component-address, #webform-component-city-state-zip, #webform-component-dates-of-birth,
#webform-component-will-or-living-amount, #webform-component-ira-retirement-value, #webform-component-life-insurance-value,
#webform-component-charitable-trust-value, #webform-component-donor-advised-amount, #webform-component-other-gift-and-value,
#webform-component-specific-dollar-amount, #webform-component-percentage, #webform-component-contingency {
    width:450px;
    text-align:right;
    margin:5px;
    font-weight: bold;
}

#webform-component-will-or-living-amount, #webform-component-ira-retirement-value, #webform-component-life-insurance-value,
#webform-component-charitable-trust-value, #webform-component-donor-advised-amount, #webform-component-other-gift-and-value {
    height:20px;
}

#edit-submitted-will-or-living-amount, #edit-submitted-ira-retirement-value, #edit-submitted-life-insurance-value,
#edit-submitted-charitable-trust-value, #edit-submitted-donor-advised-amount, #edit-submitted-other-gift-and-value{
    line-height:0px;
}

#webform-component-will-or-living-amount {
    margin-top:-170px;
}

#edit-submitted-name, #edit-submitted-address-1, #edit-submitted-address-2, #edit-submitted-city, #edit-submitted-state, #edit-submitted-postal-code,
#edit-submitted-country, #edit-submitted-e-mail, #edit-submitted-home-phone,
#edit-submitted-brokerage-financial-institution-name, #edit-submitted-broker-contact-name, #edit-submitted-broker-contact-phone,
#edit-submitted-broker-contact-fax, #edit-submitted-anticipated-transfer-date, #edit-submitted-stock-name, #edit-submitted-number-of-shares {
    width:200px;
    float:right;

}

#webform-component-name, #webform-component-address-1, #webform-component-address-2, #webform-component-city, #webform-component-state, #webform-component-postal-code,
#webform-component-country, #webform-component-e-mail, #webform-component-home-phone,
#webform-component-brokerage-financial-institution-name, #webform-component-broker-contact-name, #webform-component-broker-contact-phone,
#webform-component-broker-contact-fax, #webform-component-anticipated-transfer-date, #webform-component-stock-name, #webform-component-number-of-shares {
    width:475px;
    height: 8px;
}

.pg-breadcrumb .pg-breadcrumb-links {
    font-size: 0px;
    border:none;
    margin: 0px;
    padding:0px;
}

.pg-page-header h1 {
    float:none;
    margin-top: 43px;
}
/*
.pg-wrap h2 {
    color: rgb(102, 102, 102);
    font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-weight: bold;
    background-color: #eee;
    margin:0px;
    padding:5px;
}
*/
.pg-wrap table tr td {
/*    color: #eee;*/
    background: #eee;
    padding: 0px;
    border:none;
}

form tbody {
    border-top:none !important;
}