/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.meerkat_slider {
    margin-bottom: 1em;
    max-width: 770px;
}
.slider-wrapper {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.slider-wrapper .edit-me.edit-slides {
  left: 0;
  right: auto;
  top: 0;
}
.caroufredsel_wrapper {
    position: relative;
}
.caroufredsel_wrapper * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.slide {
    width: 100%;
    background-color: #FFFFFF;
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.slide > a {
	width: 100%;
	display: block;
	position: relative;
}
.slide img {
  display: block;
}
/** PAGER **/
.pager a {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("/sites/all/themes/williams/cssAssets/icon_sprite.png");
    background-repeat: no-repeat;
    border-radius: 0 0 5px 5px;
    background-position: -415px -28px;
    color: #FFFFFF !important;
    margin-right: 3px;
    margin-top: 6px;
    display: inline-block;
    outline: 0 none;
    text-align: center;
    text-decoration: none;
    width: 20px;
}
.pager a.selected {
    background-position: -415px 4px;
}
.pager a span {
    visibility: hidden;
}
/** THUMBS **/
.thumbs-wrapper {
    margin: 10px auto 25px;
    position: relative;
    overflow: hidden;
}
a.thumb {
    display: block;
	float: left;
    max-width: 146px;
}
a.thumb span {
	position: relative;
}
a.thumb img {
    border: 1px solid transparent;
    display: block;
    overflow: hidden;
    transition: border-color 0.5s ease 0s;
    height: 77px;
    
    -webkit-transition: border-color .5s;
    -moz-transition: border-color .5s;
    -ms-transition: border-color .5s;
    transition: border-color .5s;
}
a.thumb:hover img, a.thumb.selected img {
	border-color: #27ACD3;
}
/** CONTROLS **/

/* thumbnail navigation */
.controls {
    position: absolute;
    right: 10px;
    bottom: 5px;
}
a.arrow {
  background-image:url('/sites/all/themes/williams/cssAssets/icon_sprite.png');
  background-repeat: no-repeat;
  background-color: transparent !important;
  display: block;
  height: 28px;
  width: 28px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
/* prev arrow */
a.arrow.prev { 
    right:64px;
    background-position: -288px -32px;
}
a.arrow.prev:hover { 
    background-position: -288px 0px; 
}
.disabled a.arrow.prev {
	background-position: -288px -64px;
	cursor: default;
}

/* next arrow */
a.arrow.next { 
    right:0px;
    background-position: -320px -32px; 
}
a.arrow.next:hover { 
    background-position: -320px 0 
}
.disabled a.arrow.next {
	background-position: -320px -64px;
	cursor: default;
}

/* play/pause arrow */
a.arrow.play {
    background-position: -352px -32px;
    right: 32px;
}
a.arrow.play:hover {
    background-position: -352px 0px;
}
a.arrow.play.paused {
    background-position: -384px -32px;
}
a.arrow.play.paused:hover{
    background-position: -384px 0px;
}
.arrow-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  width: 32px;
}
.arrow-wrapper a.arrow {
    margin-right: -14px;
    margin-top: -14px;
    right: 50%;
    top: 50%;
}
.arrow-wrapper.prev {
    left: 0;
}
.arrow-wrapper.next {
    right: 0;
}
/** TYPE VIDEO **/
.slide > .type-video:after {
  background-color: transparent;
  background-image: url("/sites/all/themes/williams/cssAssets/icon_sprite.png");
  background-repeat: no-repeat;
  background-position: -3px -195px;
  content: "";
  position: absolute;
  height: 59px;
  top: 50%;
  margin-top: -30px;
  width: 59px;
  left: 50%;
  margin-left: -30px;
}
.slide:hover > .type-video:after {
    background-position: -3px -259px;
}
.meerkat-slider-no-image {
  height: 80px;
  left: 50%;
  margin-left: -150px;
  margin-top: -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 300px;
}
/** DESCRIPTION CONTAINER **/
.description-container,
.description-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizine: border-box;
    box-sizing: border-box;
}
.description-container {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  /*height: 90px;*/
  left: 0;
  overflow: hidden;
  padding: 0 110px 15px 15px;
  position: absolute;
  text-decoration: none;
  width: 100%;
}
.description-container h3.description-title {
  color: #EC881D;
  font-family: arial,sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-top:10px;
  line-height: 1;
}
.description-container .description-excerpt {
	color: #FFFFFF;
	display:block;
	line-height: 140%;
}
.description-container .description-title a,
.description-container .description-excerpt a {
    color: #EC881D !important;
    text-decoration: none;
}
.description-container .description-title a:hover,
.description-container .description-excerpt a:hover {
    color: #FFFFFF !important;
    text-decoration: none;
}
.description-container a.more-link {
    white-space: nowrap;
}
.description-container a.more-link.type-video {
    display: none;
}