#block-menu-block-1 h2 {
  padding-bottom:8px !important;
  border-bottom:2px solid #361f11 !important;
}

#block-menu-block-1 h2 a {
  border:none !important;
}

#block-menu-block-1 h2 a {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #361f11;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid  #361f11;
  margin: 0 0 10px 0;
  padding: 11px 0 10px 0;
}
