.pg-content-body {
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.pg-wrap h2 {
  color: #7c2142;
}

#block-system-main-menu h2 a {
  line-height: 40px;
  margin-bottom: 0;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  text-align: left;
  padding: 0;
  text-decoration: none;
}

#main-menu li:hover {
  color: #ffffff;
  background: #861f41;
}

#main-menu li a {
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
  line-height: 40px;
  padding: 15px 25px 15px 20px;
  color: #666666;
}

#main-menu li a:hover {
  background: #861f41;
  color: #ffffff;
}

#main-menu li a.active {
  color: #ffffff;
  background: #861f41;
}

#main-menu ul {
  text-transform: capitalize;
  color: #666666;
  padding-left: 40px;
}

#main-menu ul li:hover {
  color: #861f41;
}

#main-menu li.expanded ul li a {
  color: #666666;
  font-weight: normal;
}

#main-menu ul li a:hover {
  color: #861f41;
}

#main-menu ul ul li:hover {
  color: #7c2142;
}

#main-menu li.expanded ul ul li a {
  color: #666666;
  font-weight: normal;
}

#main-menu ul ul li a:hover {
  color: #861f41;
}

#main-menu ul ul li a.active {
  color: #861f41;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  text-aligned: left;
}

.pg-wrap table tr th {
  background: #861f41;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #000;
  text-aligned: left;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #000;
  text-aligned: left;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #861f41;
  padding: 15px;
  box-shadow: 0px 0px 4px #666;
  behavior: url(/PIE.htc);
  : ;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px;
  -moz-box-shadow: 0px 0px 4px #666;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
}

#pgc-contact-block li a:hover {
  color: #a56c76;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #861f41;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 4px #666;
  -moz-box-shadow: 0px 0px 4px #666;
  box-shadow: 0px 0px 4px #666;
  behavior: url(/PIE.htc);
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc-contact-footer-block li a:hover {
  color: #a56c76;
}

#pgc_resource_block {
  background: #fff;
  padding: 15px 20px;
  : ;
  box-shadow: 0px 0px 4px #666;
  text-align: center;
  behavior: url(/PIE.htc);
}

#pgc_resource_block a {
  color: #333333;
}

#pgc_resource_block a:hover {
  color: #861f41;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #cccccc;
  : ;
  padding: 0 15px;
  border: 1px solid #cccccc;
  color: #861f41;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #861f41;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pg-breadcrumb .pg-breadcrumb-links {
  font-size: .9em;
  font-style: normal;
  text-transform: none;
  color: #666;
}

.pg-breadcrumb .pg-breadcrumb-links a {
  font-size: .8em;
  font-style: normal;
  text-transform: uppercase;
  color: #666;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {
  color: #861f41;
}

.pgc-brochure-bg-top {
  background: #666666;
}

.pgc-brochure-header-text {
  
      background: #861f41;
  color: #fff;
}

.pgc-brochure-title {
  color:  #861f41;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color:  #861f41;
}

.pgc-brochure-body-title.pgc-font-color2 {
      color: #666666;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
      color: #666666;
}

.pgc-brochure-footer-text {
  background:  #861f41;
}

.pgc-brochure-footer-title {
      color: #666666;
}

span.pgc-brochure-footer-contact {
  font-weight: 600;
}

.pg-page-btns .pgc-title-btn {
  background-color: #7c2142;
}

