.node-landing-page .details h2 a{
	color: #4F91CD;
}

#tabs-wrapper.clearfix{
	clear:both;
}

.pg-page-btns #titlebar-links{
	margin-bottom:20px;
}

.top-search-element button.search-trigger{
	top:44%;
}
