@import "https://fast.fonts.com/cssapi/a58e39be-56b2-4a98-a7eb-76d2609157b4.css";
@media (max-width: 675px) and (min-width: 550px) {
    body.section-core-home .scotch-is-showing #navigation ul.menu>li a {
        padding-top: 10px;
        line-height: 2em
    }
}

body.section-undergraduate #navigation ul.menu {
    position: relative
}

.recent-comments-block .views-row {
    margin-top: 1.5em
}

.recent-comments-block .views-row:first-child {
    margin-top: 0
}

.region.sidebar .block-title {
    margin: 15px 0
}

.deadline-row {
    border-bottom: 1px solid #DCDCDC;
    width: 100%;
    margin: 0 -10px 9px;
    margin-left: 0\9;
    padding: 0.75em 1px;
    overflow: hidden;
    clear: both
}

.field-event-date {
    float: left;
    width: 50px;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
    border-color: #cce3f1
}

.field-event-date .m {
    color: #333;
    padding-top: 1px;
    background: #cce3f1;
    text-align: center
}

.field-event-date .d {
    width: 100%;
    text-align: center;
    color: #0075be;
    font-size: 2em;
    line-height: 1.25em
}

.field-event-title {
    color: #000;
    font-weight: 100;
    font-size: 1.17em;
    line-height: 1.2em;
    display: block;
    margin-top: 0;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px
}

.deadlines h2.block-title {
    font-size: 17px;
    text-transform: uppercase
}

.deadlines h3.block-title {
    font-size: 17px;
    text-transform: uppercase
}

.deadlines .field-event-link {
    margin-top: -15px;
    margin-left: 65px
}

.deadlines a {
    text-decoration: none;
    background: url("../cssAssets/blue-arrow.png") no-repeat right top
}

.deadlines .views-row {
    border-bottom: 1px solid #DCDCDC;
    width: 100%;
    margin: 0 -10px 9px;
    margin-left: 0\9;
    padding: 0.75em 1px;
    overflow: hidden;
    clear: both
}

.deadlines.left {
    padding-left: 5px;
    max-width: 280px
}

.deadlines.left .views-row {
    margin: 0 0 0 15px
}

.deadlines.left h2.block-title {
    margin: 0
}

.twitter-account h2.block-title {
    background: url("../cssAssets/twitter-callout.png") no-repeat right center;
    padding-right: 20px\9
}

.twitter-account img {
    margin: 0 1em 1em 0
}

ul.tweets {
    padding-top: 0;
    padding-left: 0;
    border-top: 1px solid #daddde;
    margin-right: -30px;
    margin-right: -10px\9;
    margin-left: -30px;
    margin-left: -10px\9
}

ul.tweets li.tweet {
    overflow: hidden;
    list-style-type: none;
    padding: 0.5em 30px;
    border-bottom: 1px solid #daddde;
    border-top: 1px solid #fff
}

ul.tweets li.tweet:hover {
    background: rgba(255, 255, 255, 0.75)
}

ul.tweets .twitter-action {
    overflow: hidden;
    margin-bottom: 1em
}

ul.tweets .twitter-action a {
    float: left;
    margin: 0
}

.region-sidebar-first .block-block,
.region-sidebar-first .block-views {
    margin: 0
}

.region-sidebar-first .block-block h2,
.region-sidebar-first .block-block h3,
.region-sidebar-first .block-block h4,
.region-sidebar-first .block-views h2,
.region-sidebar-first .block-views h3,
.region-sidebar-first .block-views h4 {
    margin-top: 1em;
    margin-left: 30px;
    margin-right: 10px
}

.region-sidebar-first .block-block h2.block-title,
.region-sidebar-first .block-views h2.block-title {
    margin: 0 30px
}

.region-sidebar-first .block-block p,
.region-sidebar-first .block-views p {
    margin: 10px 0 10px 30px
}

.region-sidebar-first .block-block ul.social,
.region-sidebar-first .block-views ul.social {
    margin: 10px 0 10px 20px
}

.region-sidebar-first .block-block form div,
.region-sidebar-first .block-views form div {
    margin: 0 0 10px 20px
}

.region-sidebar-first .block-menu h2.block-title {
    margin: 10px 0 0 20px !important
}

.region-sidebar-first #block-block-42 h2 {
    margin: 20px 0 10px 20px
}

.region-sidebar-first #block-block-42 form {
    margin: 0 0 10px 20px
}

.region-sidebar-first #block-block-1101 {
    margin: 0 20px
}

.region-sidebar-first #block-views-7d880b55d1a366958fd6e44b0fde1112 {
    margin: 0 10px
}

.region-sidebar-first .block-twitter-block {
    margin: 0 10px
}

.region-sidebar-first .padded-container {
    margin: 0.5em 0;
    padding: 0.5em 1.75em
}

.region-sidebar-first .padded-container .bluebutton-round-wrap,
.region-sidebar-first .padded-container .bluebutton-round-small,
.region-sidebar-first .padded-container .yellowbutton-round-wrap,
.region-sidebar-first .padded-container .yellowbutton-round-small {
    margin-bottom: .5em;
    box-sizing: border-box;
    width: 100%
}

.region-sidebar-first .deadlines h2 {
    text-transform: none;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.2em
}

.region-sidebar-first .deadlines .view-empty {
    padding: 1em 1.75em
}

.region-sidebar-first .deadlines .views-row {
    margin: 0 0 9px;
    padding: 0.75em 0px
}

.region-sidebar-first .deadlines .views-row .views-field-text {
    padding-right: 1em
}

.region-sidebar-first .deadlines .views-row .field-event-date {
    margin-left: 1.75em
}

.region-sidebar-first .deadlines .views-row .\.field-event-title {
    padding-left: 1.75em
}

.region-sidebar-second a.cta {
    float: right;
    clear: right;
    color: #fff;
    text-decoration: none;
    background: #0075BE;
    font-family: "Helvetica W01 Light Cn", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 75%;
    margin: 10px 0 30px 0;
    margin-right: 10px\9;
    margin-bottom: 30px\9;
    padding: 15px 30px;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 100;
    border-bottom: 3px solid #00599b
}

.region-sidebar-second a.cta:hover {
    background: #00539C
}

.related-links {
    border-bottom: 1px solid #daddde;
    margin-left: 0
}

.related-links h2 {
    font-size: 20px
}

.related-links ul {
    list-style: none;
    padding-left: 0
}

.related-links ul li a:before {
    content: url("../cssAssets/nav-arrow-gry.png");
    position: absolute;
    left: 2px;
    top: .2em
}

.related-links ul li a {
    padding: 0.375em 10px 0.375em 20px;
    border-top: 1px solid #daddde;
    text-decoration: none;
    color: #0075be;
    display: block;
    font-size: 16px;
    position: relative
}

.related-links ul li a:hover {
    background-color: #e8eced
}

#foundation .block p {
    border-right: 1px solid #007ac8;
    text-align: center
}

#foundation .block p a {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: .75;
    padding-left: 1.125em;
    padding-right: 1.125em;
    display: block;
    text-decoration: none
}

@media all and (max-width: 500px) {
    #foundation .block p a {
        border-right: 1px solid #005a9a
    }
}

#foundation .block p a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}

#foundation .block p a span {
    color: #000
}

#foundation .block p a span.heading {
    color: #fff
}

#foundation .block:nth-child(1) {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-right: 0;
    padding-left: 0
}

#foundation .block:nth-child(1) p {
    border-left: 1px solid #005a9a
}

#foundation .block:nth-child(1) p a {
    border-left: 1px solid #007ac8
}

#foundation .block:nth-child(2) {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-right: 0;
    padding-left: 0
}

#foundation .block:nth-child(2) p {
    border-left: 1px solid #005a9a
}

#foundation .block:nth-child(3) {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-right: 0;
    padding-left: 0
}

#foundation .block:nth-child(3) p {
    border-left: 1px solid #005a9a
}

#foundation .block:nth-child(4) {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    padding-right: 0;
    padding-left: 0
}

#foundation .block:nth-child(4) p {
    border-left: 1px solid #005a9a
}

@media screen and (max-width: 40em) {
    #foundation .block:nth-child(1) {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: left
    }
    #foundation .block:nth-child(2) {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: left
    }
    #foundation .block:nth-child(3) {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: left
    }
    #foundation .block:nth-child(4) {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("/sites/all/theme/bentley_core/ie/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: left
    }
}

#foundation .block.social-facebook p a {
    background: url("../cssAssets/facebook-big.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-flickr p a {
    background: url("../cssAssets/flickr.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-twitter p a {
    background: url("../cssAssets/twitter.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-instagram p a {
    background: url("../cssAssets/instagram.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-youtube p a {
    background: url("../cssAssets/youtube.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-mail p a {
    background: url("../cssAssets/mail.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-linkedin p a {
    background: url("../cssAssets/linkedin.png") no-repeat top center;
    padding-top: 90px
}

#foundation .block.social-subscribe p a {
    background: url("../cssAssets/subscribe.png") no-repeat top center;
    padding-top: 90px
}

.ideas-node-data .view-content .views-field {
    margin: 0 0 .375em;
    padding: .75em 0 .375em;
    border-bottom: 1px solid #ddd
}

.ideas-node-data .view-content .views-label {
    font-family: "Helvetica W01 Light", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    color: #000
}

.ideas-node-data .view-content .field-content {
    font-size: 0.875em
}

.ideas-node-data .view-content .field-content p {
    margin: 0
}

.ideas-node-data .view-content .field-content a {
    text-decoration: none
}

.ideas-node-data .view-content .field-content a:hover {
    text-decoration: underline
}

.ideas-node-data .attachment .views-field {
    margin: 0 0 .375em;
    padding: 0;
    border-bottom: none
}

.ideas-node-data .attachment ul {
    list-style: none;
    padding: 0
}

.ideas-node-data .attachment ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0
}

.ideas-node-data .attachment ul li {
    margin: 0 0 1.125em
}

.ideas-node-data .attachment ul li a {
    font-family: "Helvetica W01 Light", Helvetica, Arial, sans-serif;
    padding-bottom: .375em;
    font-size: 1.5em;
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid #ddd;
    -moz-transition-property: border;
    -o-transition-property: border;
    -webkit-transition-property: border;
    transition-property: border;
    display: block
}

.ideas-node-data .attachment ul li a:hover {
    color: #000;
    border-bottom: 1px solid #000
}

.ideas-node-data .attachment ul.share li a.print {
    background: url("../cssAssets/print.png") no-repeat right center
}

.ideas-node-data .attachment ul.share li a.mail {
    background: url("../cssAssets/mail.png") no-repeat right center
}

.ideas-node-data .attachment ul.share li a.twitter {
    background: url("../cssAssets/twitter.png") no-repeat right center
}

.ideas-node-data .attachment ul.share li a:hover {
    text-decoration: none
}

.block {
   /* margin-bottom: 1.5em */
}

.poll .vote-form .choices {
    margin: 0;
    width: 100%
}

.poll .vote-form .form-submit {
    float: left
}

.block-poll .poll .vote-form .choices .title {
    font-family: "Helvetica W01 Light", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #000;
    font-size: 2em;
    line-height: 1.5em
}

@media all and (max-width: 959px) {
    .block-poll .poll .vote-form .choices .title {
        font-size: 1.5em;
        line-height: 2em;
        line-height: 1.5em
    }
}

input[type="radio"] {
    height: 25px;
    width: 25px
}

.comments h2.title {
    font-family: "Helvetica W01 Light Cn", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #0075BE;
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1em
}

#block-block-131 span.st_facebook_vcount,
#block-block-131 span.st_googleplus_vcount,
#block-block-131 span.st_twitter_vcount,
#block-block-131 span.st_linkedin_vcount {
    display: inline-block;
    margin: 0 12px
}


/*# sourceMappingURL=blocks.css.map */