.pg-wrap h1 {
  color: #154e83;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 10px;
}

.pg-wrap p {
  font-size: 1em !important;
}

#block-system-main-menu {
  background: #f4f4f4 !important;
  padding: 20px;
}

#block-system-main-menu h2 a {
  color: #154e83;
  font-size: 0.9em;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

#main-menu {
  list-style: none;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: 15px;
}

#main-menu li {
  list-style: none;
}

#main-menu li a {
  color: #800080;
  font-size: 1em;
}

#main-menu ul {
  margin-top: 0;
  margin-left: 20px;
}

#main-menu li.expanded ul li a {
  font-size: 1em;
}

.pg-wrap table {
  border: 1px solid #f7f7f7;
  table-layout: fixed;
}

.pg-wrap table tr th {
  background: var(--blue);
  color: #fff;
  text-align: center;
  line-height: 1.6em;
  padding: 10px;
  vertical-align: middle;
}

.pg-wrap table tr td {
  border: 1px solid #f7f7f7;
  padding: 10px;
}

.pg-wrap ul {
  font-size: 1em;
}

.pg-wrap ul li {
  font-size: 1em;
  font-weight: 300;
}

.pg-wrap ol {
  font-size: 1em;
}

.pg-wrap ol li {
  font-size: 1em;
  font-weight: 300;
}

#block-pgc-contact-block-pgc-contact-block {
  background: white;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  box-shadow: 0px 0px 38px #ddd;
  padding: 25px 25px;
  position: relative;
  z-index: 10000;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #154e83;
  font-size: 1.7em;
  text-align: center;
  font-weight: 300;
}

#pgc-contact-block li a {
  display: block;
  background: transparent;
  color: var(--blue);
  font-size: 0.8em !important;
  text-align: center transition-property: all -webkit-transition: 0.2s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 45px;
  border-radius: 25px border: none;
  border: 1px solid var(--blue);
  padding: 10px 28px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  font-weight: 300;
  margin: 10px;
}

#pgc-contact-block li a:hover {
  background: var(--blue);
  color: white;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: white;
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0px 0px 38px #ddd;
  padding: 9px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  text-align: center;
}

#pgc-contact-footer-block {
  text-align: center;
}

#pgc-contact-footer-block li {
  list-style-type: none;
  display: inline-block;
  line-height: 35px;
  float: none;
  max-width: 300px;
  padding-right: 0;
  margin: 10px auto;
}

#pgc-contact-footer-block li a {
  display: block;
  background: transparent;
  color: var(--blue);
  font-size: 0.8em !important;
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 45px;
  border-radius: 25px border: none;
  border: 1px solid var(--blue);
  padding: 10px 28px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  font-weight: 300;
  margin: 4px;
  float: none;
}

#pgc-contact-footer-block li a:hover {
  background: var(--blue);
  color: white;
}

#pgc_resource_block {
  position: relative;
  z-index: 10000;
}

#pgc_resource_block a {
  color: var(--blue);
  display: block;
  margin-top: 15px !important;
  background: transparent;
  font-size: 0.8em !important;
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 45px;
  border-radius: 25px border: none;
  border: 1px solid var(--blue);
  padding: 10px 28px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  font-weight: 300;
  margin: 4px;
  float: none;
}

#pgc_resource_block a:hover {
  background: var(--blue);
  color: white;
}

#pgc_resource_block a.pgc-resource-icon {
  display: none;
}

#pgc_resource_block a.pgc-resource-icon:hover {
  display: none;
}

#pgc_resource_block span {
  display: none;
}

.pg-gift-details .accordion-switch {
  background: white;
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0px 0px 38px #ddd;
  padding: 9px;
}

.pg-gift-details .accordion-switch a {
  color: #154e83;
  font-size: 0.8em;
  text-align: center;
  font-weight: 300;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  color: var(--blue);
  margin-top: 15px !important;
  background: var(--blue);
  font-size: 0.8em !important;
  text-align: center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 45px;
  border-radius: 25px border: none;
  border: 1px solid var(--blue);
  padding: 10px 28px;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  font-weight: 300;
  margin: 4px;
  float: none;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  color: #fff;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  color: #fff;
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background: #800080;
}

.pgc-brochure-header-text {
  background: #154e83;
  color: #fff;
}

.pgc-brochure-title {
  color: #154e83;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #154e83;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #800080;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #800080;
}

.pgc-brochure-footer-text {
  background: #154e83;
}

.pgc-brochure-footer-title {
  color: #fff;
}

span.pgc-brochure-footer-contact {
  color: #fff;
  font-weight: 600;
}

.pg-page-btns .pgc-title-btn {
  background-color: #154e83;
}

