.pg-content-body {
  color: #071B39;
}

.pg-wrap h1 {
  padding-top: 12px;
  padding-left: 17px;
}

#block-system-main-menu {
  padding-top: 5px;
  padding-bottom: 0px;
}

#block-system-main-menu h2 a {
      margin: 0 0 .5em;
      padding-bottom: .4em;
      border-bottom: 1px solid #D4D6D9;
      display: block;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.5em;
      color: #3A4D6A;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #0e356f;
  color: #fff;
  font-size: 1em;
  padding: 7px;
  border: 1px solid #0e356f;
}

.pg-wrap table tr td {
  color: #000;
  background: #fff;
  padding: 7px;
  border: 1px solid #0e356f;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #0e356f;
  padding: 10px 20px;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
  font-family: "Open Sans Condensed","Arial Narrow";
  font-size: 18px;
}

#pgc_resource_block {
  background: #fbb731;
  padding: 14px 20px;
  text-align: center;
}

#pgc_resource_block a {
  color: #0e356f;
  font-size: 18px;
  font-family: "Open Sans Condensed","Arial Narrow";
}

.pg-gift-details .accordion-switch a {
  background: #2066a2;
  padding: 0 15px;
  border: none;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
  line-height: 40px;
  behavior: url(/PIE.htc);
}

.pg-gift-details .accordion-switch a:hover {
  background: #0e356f;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  : ;
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

.pgc-brochure-bg-top {
  background: #fbb731;
}

.pgc-brochure-header-text {
  background: #0e356f;
  color: #fff;
}

.pgc-brochure-title {
  color: #0e356f;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #0e356f;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #0e356f;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #fbb731;
}

.pgc-brochure-footer-text {
  background: #0e356f;
}

.pgc-brochure-footer-title {
  color: #fbb731;
}

span.pgc-brochure-footer-contact {
  color: #fbb731;
}

.pg-page-btns .pgc-title-btn {
  background-color: #fbb731;
}

.pg-page-btns .pgc-title-btn a {
  color: #ffffff;
}

