.pg-page-btns .pgc-share .atc_s{
	font-size:0;
}

/*
#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    left: -3px;
    top: -6px;
    position: absolute;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn{border:none;}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
    content: "\f05c";
    font-family: "FontAwesome";
    font-size: 55px;
    left: -5px;
    top: 1px;
    position: absolute;
  }

#block-pgc-slideshow-block-pgc-slideshow-block + #block-pgc-misc-blocks-mobilenav {
    top: -80px;
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
    background-color: #004c97;
    width: auto;
}


@media screen and (max-width: 999px) {
  div#midcontainer td#leftbanner{
    display:none;
  }
}
*/