/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com

Includes customizations by CareTech
Use class="theme-default nav-over-image" to render controlNav over image area instead of below
*/

.theme-default {
	position:relative;
}

.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 15px 0 25px 0;
	z-index: 10;
	width: 100%;
}
.theme-default.nav-over-image  .nivo-controlNav {
	position: absolute;
	bottom: 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(/sites/all/themes/munson2/cssAssets/bullets.png) no-repeat;
	border:0;
	margin: 0 4px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/sites/all/themes/munson2/cssAssets/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	background: #111;
	/* TODO: IE 7/8 need this element to have "layout" */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 8px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled .nivo-control
{
	/* Minimum of two thumbnails per row */
	max-width: 45%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	margin: 0 3px;
	max-width: 100%;
	max-height: 100%;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=150, Color='#4a4a4a')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=150, Color='#4a4a4a');
}