@charset "UTF-8";

/*---- Browser Reset -----*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}a{outline: none;}


/*---- Site Styles ----*/

.floatRight {float:right;}
.floatLeft {float:left;}
.marginLR {margin-left:10px; margin-right:10px;} 
.paddingL {padding-left:10px;}
.paddingR {padding-right:20px;}
.clear {clear:both;}

body {font: 100% Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; line-height: 1.6em; background: #fff; margin: 0; margin-top:0px; padding: 0; text-align: center; color: #000000;}
p {margin-bottom: 10px; }
.container {width: 980px;  margin: 0 auto; text-align: left;}
.header {height:auto;width: 980px;
 margin-bottom: 40px;}
.topNav
{
    height: 32px;
    margin-top: 15px;

}
.topNav ul {margin:0px; padding:0px; list-style:none;}
.topNav li {float:left;display:inline;margin: 0px;padding: 0px;}
.topNav li a { text-decoration:none; height: 44px; display: block;}
/*.topNav li a:hover {background: url(/sites/all/themes/munson2/cssAssets/navHoverBkg2.gif); height: 44px;}*/
.utilities {	margin-top: 19px;height:22px;width: 337px;}
.utilities ul {margin:0px; padding:0px; list-style:none; font:11px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; color:#818593; line-height:22px;}
.utilities li {float:right; display:inline;}
.utilities a {font:11px Georgia, "Times New Roman", Times, serif; color:#4a4d58; text-decoration:none; line-height:22px;}
.utilities a.aPlus, .utilities a.aMinus {font-family: Georgia, "Times New Roman", Times, serif; color:#355cc2; text-decoration:none;} 
.utilities a.aPlus:hover, .utilities a.aMinus:hover {color:#5076da;}
.utilities a.aPlus {font-size:20px;}
.utilities a.aMinus {font-size:16px; margin-left:10px;}
.utilities img {border:none; outline:none; margin-left:3px;}
.cleardiv {width: 980;height: 8px; margin: 0px;padding: 0px;}
.searchButton {}
/*.search input, select{border-style:none; width: 164px; height: 20px; background:url(/sites/all/themes/munson2/cssAssets/searchBkg.gif) no-repeat top; padding-left: 10px; font-size:12px;outline:none;}*/
select#homePageMenu {border-style:none; width: 164px; height: 20px;  background:url(/sites/all/themes/munson2/cssAssets/searchBkg.gif) no-repeat top; padding-left: 10px; font-size:12px;outline:none;}

.search input{border-style:none; width: 164px; height: 20px; background-color:transparent; background:url(/sites/all/themes/munson2/cssAssets/searchBkg.gif) no-repeat top; padding-left: 10px; font-size:12px;outline:none;}
input[type=checkbox]{margin-right:5px; margin-left:5px;}
.textsize {color:#b3b8c0; margin-top:4px;}
.audienceLinks {	text-align:left;margin: 15px 0 0 100px;}
.audienceLinks ul {list-style:none;}
.audienceLinks li {float: left;}
.audienceLinks a {font: 11px arial; color:#7a7a7a; text-decoration: none; display:block; padding:0px 2px 0px 2px;}
.audienceLinks a:hover { color:#333;}
.hMiddletop{ display: table;   width: 980px; max-height: 343px;    margin: 0px 0px 0px 0px; padding: 0px;}
.hMiddletop table {padding: 0px;}
.hMiddle{font:11px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif;     width: 980px;    height: auto; margin: 8px 0px 0px 0px; padding: 0px;}

.centerAreaContent h1 {font-size:14px; font-weight:bold; margin-bottom: 5px;}
/*---- Homepage Center Area Right Styles ---*/
/*---- Homepage Center Area Right Styles ---*/
.centerAreaRight{width: 249px;height: 345px;float: right;margin-top: 0px;}
.rightButtonHeader{background:url(/sites/all/themes/munson2/cssAssets/rightColumnFlag.png) top left no-repeat;width: 247px;height:59px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;color:#006db5;padding-top: 9px;padding-right: 0px;padding-bottom: 10px;padding-left: 15px;position: absolute;z-index: 2000;}

.rightButtons001 {height:73px; margin-top: 54px; position: absolute;z-index: 1;}
.rightButtons002 {height:73px; margin-top: 54px; position: absolute;z-index: 1;}
.rightButtons003 {height:73px; margin-top: 54px; position: absolute;z-index: 1;}
.rightButtons006 {height:73px; margin-top: 54px; position: absolute;z-index: 1;}
.rightButtons001 li{ background:url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_001.png) 0 0 no-repeat; display:block; list-style:none; height:73px; position:absolute;}
.rightButtons001 a{display: block; width:247px; height:73px;}
.rightButtons001 .btn1{margin-top: 0px; width: 247px; height:73px;}
.rightButtons001 .btn1 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_001.png) -247px 0 no-repeat;}
.rightButtons001 .btn2{margin-top: 73px; width: 247px;  background-position: 0px -73px;}
.rightButtons001 .btn2 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_001.png) -247px -73px no-repeat;}
.rightButtons001 .btn3{margin-top: 146px; width: 247px; background-position: 0 -146px}
.rightButtons001 .btn3 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_001.png) -247px -146px no-repeat;}
.rightButtons001 .btn4{margin-top: 219px; width: 247px; height:73px; background-position: 0 -219px}
.rightButtons001 .btn4 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_001.png) -247px -219px no-repeat;}
.rightButtons002 li{ background:url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_002.png) 0 0 no-repeat; display:block; list-style:none; height:73px; position:absolute;}
.rightButtons002 a{display: block; width:247px; height:73px;}
.rightButtons002 .btn1{margin-top: 0px; width: 247px; height:73px;}
.rightButtons002 .btn1 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_002.png) -247px 0 no-repeat;}
.rightButtons002 .btn2{margin-top: 73px; width: 247px;  background-position: 0px -73px;}
.rightButtons002 .btn2 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_002.png) -247px -73px no-repeat;}
.rightButtons002 .btn3{margin-top: 146px; width: 247px; background-position: 0 -146px}
.rightButtons002 .btn3 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_002.png) -247px -146px no-repeat;}
.rightButtons002 .btn4{margin-top: 219px; width: 247px; height:73px; background-position: 0 -219px}
.rightButtons002 .btn4 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_002.png) -247px -219px no-repeat;}
.rightButtons003 li{ background:url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_003.png) 0 0 no-repeat; display:block; list-style:none; height:73px; position:absolute;}
.rightButtons003 a{display: block; width:247px; height:73px;}
.rightButtons003 .btn1{margin-top: 0px; width: 247px; height:73px;}
.rightButtons003 .btn1 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_003.png) -247px 0 no-repeat;}
.rightButtons003 .btn2{margin-top: 73px; width: 247px;  background-position: 0px -73px;}
.rightButtons003 .btn2 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_003.png) -247px -73px no-repeat;}
.rightButtons003 .btn3{margin-top: 146px; width: 247px; background-position: 0 -146px}
.rightButtons003 .btn3 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_003.png) -247px -146px no-repeat;}
.rightButtons003 .btn4{margin-top: 219px; width: 247px; height:73px; background-position: 0 -219px}
.rightButtons003 .btn4 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_003.png) -247px -219px no-repeat;}
.rightButtons006 li{ background:url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_006.png) 0 0 no-repeat; display:block; list-style:none; height:73px; position:absolute;}
.rightButtons006 a{display: block; width:247px; height:73px;}
.rightButtons006 .btn1{margin-top: 0px; width: 247px; height:73px;}
.rightButtons006 .btn1 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_006.png) -247px 0 no-repeat;}
.rightButtons006 .btn2{margin-top: 73px; width: 247px;  background-position: 0px -73px;}
.rightButtons006 .btn2 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_0015.png) -247px -73px no-repeat;}
.rightButtons006 .btn3{margin-top: 146px; width: 247px; background-position: 0 -146px}
.rightButtons006 .btn3 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_006.png) -247px -146px no-repeat;}
.rightButtons006 .btn4{margin-top: 219px; width: 247px; height:73px; background-position: 0 -219px}
.rightButtons006 .btn4 a:hover{background: url(/sites/all/themes/munson2/cssAssets/rightBtnSprite_006.png) -247px -219px no-repeat;}

/*---- Homepage Center Area Left Styles ----*/
.centerAreaLeft {float:left; width: 731px;height: 345px;}
/* Container */
.verticalslider {overflow: hidden; padding: 0px 0 0 0px;}
/* Tabs */
.verticalslider_tabs {float: left;width: 250px;height: 343px; overflow:hidden;}
.verticalslider_tabs, .verticalslider_tabs li{margin-left: 1px; padding: 0px;}
.verticalslider_tabs li{list-style-type: none;}
.verticalslider_tabs a:link, .verticalslider_tabs a:visited{display: block; width: 230px; height: 29px; padding: 9px 10px 9px 10px; background: url(/sites/all/themes/munson2/cssAssets/tabBG.gif) bottom no-repeat;  background-color: #007ec4;font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold;color: #333333;text-decoration: none;}
.verticalslider_tabs a:hover, .verticalslider_tabs a:active{ background: url(/sites/all/themes/munson2/cssAssets/tabHoverBG.jpg) bottom repeat-x; background-color: #121514;}
.verticalslider_tabs li:first-child a:link {border-top: none; height: 31px; margin-top:5px; background-color: #007ec4; background: url(/sites/all/themes/munson2/cssAssets/topTabBG_selected.gif) bottom no-repeat;}
.verticalslider_tabs li:first-child a:link{border-top: none; height: 31px; background: url(/sites/all/themes/munson2/cssAssets/tabBG.gif) bottom no-repeat;}
.verticalslider_tabs li:last-child a:visited,.verticalslider_tabs li:last-child a:link{border-top: none; height: 31px;background: url(/sites/all/themes/munson2/cssAssets/leftButtonBkg2.gif.gif) bottom no-repeat;}
.verticalslider_tabs .activeTab a:link, .verticalslider_tabs .activeTab a:visited{background: url(/sites/all/themes/munson2/cssAssets/tabBG_selected.gif) bottom no-repeat !important; background-color: #FFF;}
.verticalslider_tabs .activeTab a:hover, .verticalslider_tabs .activeTab a:active{background: url(/sites/all/themes/munson2/cssAssets/tabBG_selected.gif) bottom no-repeat !important; background-color: #FFF;}

.verticalslider_tabs input{}
/* Contents */
.verticalslider_tabs_table {float: left;width: 481px;height: 243px; overflow:hidden;}

.verticalslider_contents{float: left;width: 481px; height:366px; display: inline; margin: 1px 0px 0px 0px; padding: 0px;}

.verticalslider_contents_panel{float: left;width: 481px; height: 366px !important; display: inline; margin: 0px 0px 0px 0px; padding: 0px;}

.verticalslider_contents h2{font-family: Georgia, "Times New Roman", Times, serif, font-size: 15px; color: #333333;margin: 5px 20px; padding: 0px;}
.verticalslider_contents p{ margin: 5px 20px; padding: 0px;color: #333333;font-family: Tahoma, Geneva, sans-serif; font-size: 13px; }
.verticalslider_contents div{font-family: Tahoma, Geneva, sans-serif; font-size: 13px; }
.verticalslider_tabs_table  td{font: 8pt, Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; line-height: 1.6em; margin: 0; margin-top:0px; padding: 0; text-align: left; color: #999999;}
/*---- Search Area ----*/
.alphabetSearch {width:950px; padding: 12px 0px 20px 0px;}
.hbSearch {padding: 0px 30px 0px 0px; margin-left:15px;}
.searchH1_blue {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:#006db5;}
.dropDown {margin-top: 5px; height:20px; width:164px;}

.centerTitle {float: left; width: 209px; margin-left: 5px; margin-right: 15px;}
.searchH1_teal {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:#0093b2; padding: 0 0 5px 0;}
.search_text {font:12px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; color:#7f7f7f;}

.alphabet_container {float:right; display:block; margin-bottom:20px;}
a.alphabet {background: url(/sites/all/themes/munson2/cssAssets/alphabet_letterBk.gif) no-repeat; display: block;	float: left;	height:23px;  width: 24px;	text-align: center;	color: #0093b2; text-decoration: none;font: 14px Tahoma, Geneva, sans-serif;	text-transform: uppercase;	margin: 5px 5px 0px 0px;	line-height:23px}
a.alphabet:hover {background-position: left -23px;color:#00809f;}
.alphabetAll { display: block;	float: left;	height:23px;  width: 42px;	text-align: center;	color: #0093b2; text-decoration: none; font:12px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; color:#0093b2; margin:5px 5px 0px 0px;line-height:23px}
.alphabetAll:hover  {color:#00809f;}
/*---- Slider ----*/
.slider {width:975px; height: 129px; margin: 0 auto; margin-top: 20px;}
.photoSlider{width:975px;height:129px;background: url(/sites/all/themes/munson2/cssAssets/SliderBg.gif) repeat-x;}
.photoSliderContent{width:975px;height: 129px;background: url(/sites/all/themes/munson2/cssAssets/SliderBg.gif) repeat-x;}
.photoSliderContent input{border-style:none; width: 0px; height: 0px; background: none; padding-left: 0px;outline:none;}
.photoSliderContent img{border:0px;}
.photoSliderContent ul{height:129px;display: inline;list-style: none;list-style-type: none;}
.photoSliderContent li{display: inline;height: 92px;	width: 166px;	list-style-type: none;	float: left;	padding: 18px 30px;	font: 11px Tahoma, Geneva, sans-serif;	overflow:hidden;}
.photoSliderContent .divider{width:1px;height: 129px;padding:0px;margin:0px;background: url(/sites/all/themes/munson2/cssAssets/SliderDivider.gif) no-repeat;}
.photoSliderContent .content{font: 8px Tahoma, Geneva, sans-serif;width:146px;padding:5px 2px;}
/*---- Footer ----*/
.footer
{
 
    background-image: url(/sites/all/themes/munson2/cssAssets/Entity-FooterBackground.png);
    background-size: contain;
    background-repeat: no-repeat;
       width: 980px;
    height: 398px;
   
}
.footer a {font: 14px Verdana; text-align: left; color:#58595b ; text-decoration: none; padding:0px 2px 0px 2px;}
.footer a:hover { color:#58595b;text-decoration: bold, underline;}

.footer-icon
{ width: 25px;
    height: 20px;
    float:left;}
.footerTitle
{
    font-family: Verdana;
    font-size: 14px;
     font-weight: bold;
    top: 8px;
    bottom: 8px;
    float:left;
    color: #1a2741;
}
.footerCopyright 
{ font: 8px Verdana; margin-top:15px;margin-left:700px;color:#000000;height: 20px;
}
.footerCivilRights
{font: 10px Verdana; text-align: left;white-space: nowrap ;color:#000000;width:900px;display:inline-block;margin-left:10px;margin-bottom:10px; height: 80px;
}
.footerCivilRights ul {list-style:none;}
.footerCivilRights li { font: 10px Verdana;float:left;padding:0px 2px 0px 2px;line-height: .5em;height: auto;}
.footerCivilRights li a {font: 10px Verdana; color:#58595b; text-decoration: none;  padding:0px 2px 0px 2px;}
.footerCivilRights li a:hover { font: 10px Verdana;  text-decoration:none; color:#000000;padding:0px 2px 0px 2px;}

.flocation {float:left;margin-top:25px;margin-left:10px;  width: 100%;height: 30px;}
.footerLeft{float:left;margin-top:10px;margin-left:10px;display:block;  width: 33%; height: 298px; }
.footerLeft li {display: block;padding: 5px 0px 5px 0px;}
.footerLeft ul {list-style:none;}
.footerLeft a {font: 14px Verdana; color:#58595b; text-decoration: none; display: inline; }
.footerLeft a:hover { color:#58595b;text-decoration: underline;  font-weight: bold;}
.footerBody  {font-family: Verdana;
    font-size: 14px;
    color:#58595b;
    text-decoration: none;
float:left;
text-align: left;
}



.footerLeft a:visited {text-decoration: underline;color:#58595b;}

.footerCenter{float:left;margin-top:10px; display:block; width: 33%; height: 298px;}
.footerCenter ul {list-style:none;}
.footerCenter li {display: block;padding: 5px 0px 5px 0px;}
.footerCenter a {font: 14px Verdana; color:#58595b; text-decoration: bold; display:block; padding:0px 2px 0px 2px;}
.footerCenter a:hover { color:#58595b;text-decoration: underline;  font-weight: bold;}
.footerCenter a:visited {text-decoration: underline;color:#58595b;}

.footerRight {float:left; margin-top:10px;display:block; height: 298px;  }
.footerRight ul {list-style:none;}
.footerRight li {display: block;padding: 5px 0px 5px 0px;line-height: .5em;height: auto;}

.footerRight a {font: 14px Verdana; color:#58595b; text-decoration: bold; padding:0px 2px 0px 2px;}
.footerRight a:hover  { color:#58595b;text-decoration: underline;  font-weight: bold;}
.footerRight a:visited {text-decoration: underline;color:#58595b;}
 .footericon {display:block;padding:0px 0px 0px 0px;}
/*---- Content Specific Styles ----*/
.cTopSubNav{display:block; width: 980px;padding: 0px; 
     height:41px;background:url(/sites/all/themes/munson2/cssAssets/Menu-Bar_980x41.png)bottom left no-repeat;}
.cTopSubNav ul {list-style:none;}
.divider {background: url(/sites/all/themes/munson2/cssAssets/subNavDivider.gif) right no-repeat;}

.cMiddle {background:url(/sites/all/themes/munson2/cssAssets/contentMiddleBkg.gif) repeat-y; font:11px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; }
.cMiddle_2Column {background:url(/sites/all/themes/munson2/cssAssets/contentMiddleBkg_2Column.gif) repeat-y; font:11px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; }
.cMiddle_1Column {background:url(/sites/all/themes/munson2/cssAssets/contentMiddleBkg_1Column.gif) repeat-y; font:11px Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif; }
.cMiddleContent {padding: 10px 10px 10px 15px;}
.cMiddleLeft{float:left; width: 250px;}
.cMiddleRight{float:right; width: 236px; margin-top:-13px;}
.closeToHomeBox{background:url(/sites/all/themes/munson2/cssAssets/contentCloseToHomeBkg.gif) repeat-y;width:236px;padding-top: 5px;padding-right: 5px;padding-bottom: 25px;padding-left: 5px;}
.cRightCloseHeader{height: 26px;width: 231px;font-family: Arial, Helvetica, sans-serif;font-size: 18px;color:#006db5;margin-top: -6px;margin-right: 0px;margin-bottom: 0;margin-left: -5px;padding-top: 9px;padding-right: 0;padding-bottom: 10px;padding-left: 15px;background-image: url(/sites/all/themes/munson2/cssAssets/contentRightColumnFlag.png);background-repeat: no-repeat;background-position: left top;}
.cRightContent{margin-left: 10px;}
.cRightTopTitle{margin-top: 10px;font-size:14px;background: url(/sites/all/themes/munson2/cssAssets/arrowDownBullet.png) left no-repeat;padding-left: 10px;}
.cRightTitle{margin-top: 10px; font-size:14px; background: url(/sites/all/themes/munson2/cssAssets/arrowDownBullet.png) left no-repeat; padding-left: 10px;}
.cRightListing{margin-left: 13px;}
.cRightListing ul{list-style: disc outside none; margin: 5px 0 3px 11px;}
.cRightListing li{ line-height: 1.5em;}
.cRightListing a {color:#666; text-decoration:none;}
.cRightListing a:hover {text-decoration: underline;}
.cRightViewAll{ text-transform:capitalize; text-decoration; margin-left: 12px;}
.cRightViewAll a {color:#666;}
.cRightViewAll a:hover {color:#333;}
.cRightInfoHeader{ background: url(/sites/all/themes/munson2/cssAssets/contentRightColumnFlag.png) top left no-repeat; height: 45px;  width: 246px; z-index:10000; padding: 9px 0 10px 15px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#006db5; margin: 5px 0 0 0px;}
.cRightCustomHeader{ background: url(/sites/all/themes/munson2/cssAssets/contentRightColumnFlag.png) top left no-repeat; height: 45px;  width: 246px; z-index:10000; padding: 9px 0 10px 15px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#006db5; margin: 0px 0 0 -10px;}
.cMiddleCenter{float: left; width: 440px; margin-left:5px;}
.cMiddleCenter_2Column{float: left; width: 690px; margin-left:5px;}
.cMiddleCenter_1Column{float: left; width: 940px; margin-left:5px;}
.breadcrumbs{width: 400px; font-size:9px; color: #7f7d7d;}
.breadcrumbs ul {list-style:none;}
.breadcrumbs li {float:left; color: #7f7d7d; margin:0 1px 0 1px;}
.breadcrumbs a {font-size:9px; color: #7f7d7d; margin-right: 1px; display: inline; text-decoration:none;}
.breadcrumbs a:hover {text-decoration: underline; color:#666666;}
.title {color: #037CC0;font-size: 17px;font-weight: bold;margin: 15px 0;}
.content {line-height:1.5em; font:12px Arial,Helvetica,sans-serif;}

.content a{color: #4C5984;font-family: Arial,Helvetica,sans-serif;text-decoration: none;}
.content a:hover{color: #4C5984;font-family: Arial,Helvetica,sans-serif;text-decoration: underline;}
.content a:visited{color: #93011C;font-family: Arial,Helvetica,sans-serif;text-decoration: none;}
.centerAreaLeft a{color: #4C5984;font-family: Arial,Helvetica,sans-serif;text-decoration: none;}
.centerAreaLeft a:hover{color: #4C5984;font-family: Arial,Helvetica,sans-serif;text-decoration: underline;}
.centerAreaLeft a:visited{color: #93011C;font-family: Arial,Helvetica,sans-serif;text-decoration: none;}

.cMiddleBottom{background:url(/sites/all/themes/munson2/cssAssets/cMiddleBottom.gif) top no-repeat; width: 980px; height:5px; margin-bottom:25px;}
.cMiddleBottom_2Column{background:url(/sites/all/themes/munson2/cssAssets/cMiddleBottom_2Column.gif) top no-repeat; width: 980px; height:5px; margin-bottom:25px;}
.cMiddleBottom_1Column{background:url(/sites/all/themes/munson2/cssAssets/cMiddleBottom_1Column.gif) top no-repeat; width: 980px; height:5px; margin-bottom:25px;}
/*---- Service Line Area ----*/
.serviceLineArea { width: 968px; background:url(/sites/all/themes/munson2/cssAssets/cServiceLineTop.gif) top left repeat-x #679cbe; margin:0 auto; margin-top: 0px; padding:5px;}
.socialMediaBar {height: 40px; background:url(/sites/all/themes/munson2/cssAssets/cSocialMediaBarBkg.gif) top left repeat-x; margin:0 auto; width:978px; display:block; margin-bottom:4px;}
.socialMediaBar ul {list-style:none;}
.socialMediaBar li {float:right; margin:5px 10px;}
.socialMediaBar a {}
.socialMediaBar a:hover {  }
/*Template Styles***/
.content ul {margin-left: 35px;}
table.TableLayout
{
  width:100%;
}
.TableLayout td
{
  width:50%;
  padding: 0px 15px;
}
.imageLeft {float: left; margin: 0 14px 14px 0; width: 30%;}
.imageRight {float: right; margin: 10px 14px 14px 10px; width: 200px;}
h2{font-family: verdana; font-size: 15px; font-weight: normal; color: #007dc3;}
h3{font-family: verdana; color: #007dc3; font-weight: normal;font-size: 12px;}
h1{font-size: 16px;color: #007dc3;font-family: verdana;font-weight: normal;text-transform: uppercase;}
.captionTitle{font-size: 13px; color: #007dc3;}
.captionText{font-size: 11px;}
.MunsonHome
{
	font: 12px Arial, Helvetica, sans-serif;
	margin-top:-13px;
	color: #027ABD;
}
.MunsonHome a
{
	text-decoration: none;
	color: #027ABD;
}
.NoMunsonHome
{
	display:none;
}
/*End Template Styles**/