/* =WordPress Core
-------------------------------------------------------------- */
    span.sep {
    content: "";
    font: 11px/1 FontAwesome;
    left: -6px;
    position: absolute;
    top: 2px;
}