.pg-wrap table {
  width: 100%;
}

#block-pgc-contact-block-pgc-contact-block {
  border: 1px solid #78a22f !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 6px 12px rgba(120,162,47,.275);
  background-color: #fff;
  z-index: 1;
}

#block-pgc-contact-block-pgc-contact-block .title {
  margin-top: 5px;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  border: 1px solid #78a22f !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 6px 12px rgba(120,162,47,.275);
  margin-bottom: 15px;
}

#pgc_resource_block {
  border: 1px solid #78a22f !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 6px 12px rgba(120,162,47,.275);
  z-index: 1000;
}

.pg-gift-details .accordion-switch {
  border: 1px solid #78a22f !important;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 6px 12px rgba(120,162,47,.275);
}

#block-pgc-misc-blocks-mobilenav .header-mobile {
  background: #78a22f;
}

#block-pgc-misc-blocks-mobilenav .control.open-btn::before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: -14px;
  left: 5px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  width: auto;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.pgc-brochure-bg-top {
  background: #78a22f;
}

.pgc-brochure-header-text {
  background: #0073ae;
  color: #fff;
}

.pgc-brochure-title {
  color:  #0073ae;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color:  #0073ae;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color:  #78a22f;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color:  #78a22f;
}

.pgc-brochure-footer-text {
  background: #0073ae;
}

.pgc-brochure-footer-title {
  color:  #78a22f;
}

span.pgc-brochure-footer-contact {
  color:  #78a22f;
}

