/* Drupal admin toolbar. */
#toolbar {
  z-index: 1000;
}

.icon-email:before, .icon-print:before, .icon-share:before, .icon-staff:before,
.icon-call:before, .icon-brochure:before{
  font-family:"pgcalc-marketing";
}

#main-menu a:after{
  content: "F";
  font-family: "dickinsonedu";
  color: #c8102e;
}
