#block-system-main .child-pages .details h2 a {
	text-decoration: none;
}
#block-system-main-menu .content ul li a.active {
	color: #444b4e;
}
#block-system-main-menu .content ul li a.active-trail {
	color: #444b4e;
}
#giftGuide .error {
	display: none !important;
}

#block-system-main .field-item.even ul li {
	list-style-type: disc;
}
.accordion-item ul li {
	list-style-type: disc;
}
.pg-page-btns .pgc-font-size a{
	font-weight:bold;
}
