.woocommerce .related ul li.product.one_fourth,
.woocommerce .related ul.products li.product.one_fourth,
.woocommerce .upsells.products ul li.product.one_fourth,
.woocommerce .upsells.products ul.products li.product.one_fourth,
.woocommerce-page .related ul li.product.one_fourth, 
.woocommerce-page .related ul.products li.product.one_fourth, 
.woocommerce-page .upsells.products ul li.product.one_fourth, 
.woocommerce-page .upsells.products ul.products li.product.one_fourth,
.woocommerce .cart-collaterals .cross-sells ul.products li.one_fourth,
.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_fourth,
.woocommerce ul.products li.product.one_fourth,
.woocommerce-page ul.products li.product.one_fourth
	{display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 22%;}
.woocommerce .related ul li.product.one_third,
.woocommerce .related ul.products li.product.one_third,
.woocommerce .upsells.products ul li.product.one_third,
.woocommerce .upsells.products ul.products li.product.one_third,
.woocommerce-page .related ul li.product.one_third, 
.woocommerce-page .related ul.products li.product.one_third, 
.woocommerce-page .upsells.products ul li.product.one_third, 
.woocommerce-page .upsells.products ul.products li.product.one_third,
.woocommerce .cart-collaterals .cross-sells ul.products li.one_third,
.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_third, 
.woocommerce ul.products li.product.one_third, 
.woocommerce-page ul.products li.product.one_third
	{display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 30%;}
.woocommerce .related ul li.product.one_half,
.woocommerce .related ul.products li.product.one_half,
.woocommerce .upsells.products ul li.product.one_half,
.woocommerce .upsells.products ul.products li.product.one_half,
.woocommerce-page .related ul li.product.one_half, 
.woocommerce-page .related ul.products li.product.one_half, 
.woocommerce-page .upsells.products ul li.product.one_half, 
.woocommerce-page .upsells.products ul.products li.product.one_half,
.woocommerce .cart-collaterals .cross-sells ul.products li.one_half, 
.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_half, 
.woocommerce ul.products li.product.one_half, 
.woocommerce-page ul.products li.product.one_half
	{ display: inline;float: left;margin-right: 4%;overflow: hidden;position: relative;width: 48%;}
input.input-text.qty.text { margin-bottom:0;}
@media (max-width: 767px) {
	.woocommerce .related ul li.product.one_fourth,
	.woocommerce .related ul.products li.product.one_fourth,
	.woocommerce .upsells.products ul li.product.one_fourth,
	.woocommerce .upsells.products ul.products li.product.one_fourth,
	.woocommerce-page .related ul li.product.one_fourth, 
	.woocommerce-page .related ul.products li.product.one_fourth, 
	.woocommerce-page .upsells.products ul li.product.one_fourth, 
	.woocommerce-page .upsells.products ul.products li.product.one_fourth,
	.woocommerce .related ul li.product.one_third,
	.woocommerce .related ul.products li.product.one_third,
	.woocommerce .upsells.products ul li.product.one_third,
	.woocommerce .upsells.products ul.products li.product.one_third,
	.woocommerce-page .related ul li.product.one_third, 
	.woocommerce-page .related ul.products li.product.one_third, 
	.woocommerce-page .upsells.products ul li.product.one_third, 
	.woocommerce-page .upsells.products ul.products li.product.one_third,
	.woocommerce .related ul li.product.one_half,
	.woocommerce .related ul.products li.product.one_half,
	.woocommerce .upsells.products ul li.product.one_half,
	.woocommerce .upsells.products ul.products li.product.one_half,
	.woocommerce-page .related ul li.product.one_half, 
	.woocommerce-page .related ul.products li.product.one_half, 
	.woocommerce-page .upsells.products ul li.product.one_half, 
	.woocommerce-page .upsells.products ul.products li.product.one_half,
  	.woocommerce ul.products li.product.one_fourth, 
  	.woocommerce-page ul.products li.product.one_fourth,
  	.woocommerce ul.products li.product.one_third, 
  	.woocommerce-page ul.products li.product.one_third,
  	.woocommerce ul.products li.product.one_half, 
  	.woocommerce-page ul.products li.product.one_half,
  	.woocommerce .cart-collaterals .cross-sells ul.products li.one_fourth, 
  	.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_fourth,
  	.woocommerce .cart-collaterals .cross-sells ul.products li.one_third, 
  	.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_third,
  	.woocommerce .cart-collaterals .cross-sells ul.products li.one_half,
  	.woocommerce-page .cart-collaterals .cross-sells ul.products li.one_half
	{display: inline;float: left; margin-right: 0;overflow: hidden;position: relative;width: 100%;}
}