/* Horizontal Drop Down */
.ddsmoothmenuh{width: 100%;float:left;}
.ddsmoothmenuh ul{z-index:100;margin: 0;padding: 0;list-style-type: none;float:right;}
.ddsmoothmenuh ul li{position: relative;display: inline;float: left;}
.ddsmoothmenuh ul li a{display: block;padding: 8px 10px;text-decoration: none;}
* html .ddsmoothmenuh ul li a{display: inline-block;}
.ddsmoothmenuh ul li ul{position: absolute;left: 0;display: none;visibility: hidden;}
.ddsmoothmenuh ul li ul li{display: list-item;float: none;}
.ddsmoothmenuh ul li ul li ul{top: 0;}
.ddsmoothmenuh ul li ul li a{padding: 5px;margin: 0;border-top-width: 0;}
/* Holly Hack for IE \*/
* html .ddsmoothmenuh{height: 1%;} /*Holly Hack for IE7 and below*/
.downarrowclass{position: absolute;top: 12px;right: 7px;}
.rightarrowclass{position: absolute;top: 6px;right: 5px;}
.ddshadow{position: absolute;left: 0;top: 0;width: 0;height: 0;}
.toplevelshadow{opacity: 0.8;}
.ddsmoothmenuv ul{margin: 0;padding: 0;width: 100%;list-style-type: none;}
.ddsmoothmenuv ul li{position: relative;}
.ddsmoothmenuv ul li a{display: block;overflow: auto;text-decoration: none;padding: 6px;}
.ddsmoothmenuv ul li ul{position: absolute;top: 0;font-weight: normal;visibility: hidden;}
/* Holly Hack for IE \*/
* html .ddsmoothmenuv ul li { float: left; height: 1%; }
* html .ddsmoothmenuv ul li a { height: 1%; }
/*Horizontal Mega*/
.wfm-mega-menu ul, .wfm-mega-menu ul li {list-style: none;}
.wfm-mega-menu ul.menu {position: relative; padding: 0; margin: 0;z-index:100;}
.wfm-mega-menu ul li ul {display: none;}
.wfm-mega-menu .sub {display: none;}
.wfm-mega-menu .sub ul {display: block;}
.wfm-mega-menu {font: normal 13px Arial, sans-serif; line-height: 16px;}
.wfm-mega-menu ul, .wfm-mega-menu ul, .wfm-mega-menu ul li {margin: 0; padding: 0; border: none;}
.wfm-mega-menu ul.menu {width: 100%; height: 30px;position: relative;}
.wfm-mega-menu ul li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.wfm-mega-menu ul li a {float: left; display: block; padding: 12px 18px 12px 18px; text-decoration: none;}
.wfm-mega-menu ul li a.wf-mega {position: relative;}
.wfm-mega-menu ul li a .wf-mega-icon {display: block; position: absolute; top: 18px; right: 5px; width: 8px; height: 6px; background: url(../images/hmm/arrow.png) no-repeat 0 100%;}
.wfm-mega-menu ul li.mega-hover a, .wfm-mega-menu ul li a:hover {background-position: 100% -40px; text-shadow: none;}
.wfm-mega-menu ul li.mega-hover a .wf-mega-icon {background-position: 0 100%;}
.wfm-mega-menu ul li .sub-container {position: absolute;}
.wfm-mega-menu ul li .sub { padding: 20px 20px 20px 10px;}
.wfm-mega-menu ul li .sub-container.mega .sub {padding: 20px 0px 10px 10px;}
.wfm-mega-menu ul.full-width li .sub-container.mega .sub {margin-right: -2px;}
.wfm-mega-menu ul li .sub .row {width: 100%; overflow: hidden; clear: both;}
.wfm-mega-menu ul li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.wfm-mega-menu ul li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.wfm-mega-menu ul li .sub li.mega-hdr.last {margin-right: 0;}
.wfm-mega-menu ul li .sub a {background: none; border: none; text-shadow: none; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.wfm-vertical-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a, .wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
	position:relative;
	outline: none;
	overflow: visible;
	cursor: pointer;
	border-bottom:rgba(0, 0, 0, .4) 1px solid;

	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	padding: 5px 5px 5px 5px;
	text-transform: uppercase;}
.wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a:hover {text-shadow: none;}
.wfm-mega-menu ul .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(../images/hmm/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.wfm-mega-menu ul .sub li.mega-hdr li a:hover { background: url(../images/hmm/arrow_on.png) no-repeat 5px 8px;}
.wfm-mega-menu ul .sub ul li {padding-right: 0;}
.wfm-mega-menu ul li .sub{}

.wfm-mega-menu ul li .sub-container.non-mega .sub {padding: 20px 10px 20px 10px;}
.wfm-mega-menu ul li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.wfm-mega-menu ul li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(../images/hmm/arrow_off.png) no-repeat 7px 10px;}
.wfm-mega-menu ul li .sub-container.non-mega li a:hover { background:url(../images/hmm/arrow_on.png) no-repeat 7px 10px;}
/* Vertical Mega*/
.wfm-vertical-mega-menu ul, .wfm-vertical-mega-menu ul li {list-style: none;}
.wfm-vertical-mega-menu ul.menu {position: relative; padding: 0; margin: 0;z-index:100}
.wfm-vertical-mega-menu {font: normal 13px Arial, sans-serif; line-height: 16px;}
.wfm-vertical-mega-menu ul ul, .wfm-vertical-mega-menu ul li, .wfm-vertical-mega-menu ul li .sub ul {margin: 0; padding: 0; border: none;}
.wfm-vertical-mega-menu ul.menu.left, .wfm-vertical-mega-menu ul.menu.right {position: relative; margin: 0; padding: 0;}
.wfm-vertical-mega-menu ul li {float: none; display: block; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.wfm-vertical-mega-menu ul li a {float: none; display: block; text-decoration: none;}
.wfm-vertical-mega-menu ul.left li a {padding: 12px 10px 12px 15px;}
.wfm-vertical-mega-menu ul.right li a {padding: 12px 15px 12px 5px;}
.wfm-vertical-mega-menu ul li a.wf-mega {position: relative;}
.wfm-vertical-mega-menu ul li a .wf-mega-icon {display: block; position: absolute; top: 18px; width: 6px; height: 8px;}
.wfm-vertical-mega-menu ul.left li a .wf-mega-icon {background: url(../images/hmm/arrow_side.png) no-repeat 0 0; left: 15px;}
.wfm-vertical-mega-menu ul.right li a .wf-mega-icon {background: url(../images/hmm/arrow_side.png) no-repeat -18px 0; right: 15px;}
.wfm-vertical-mega-menu ul li.mega-hover a, .wfm-vertical-mega-menu ul li a:hover {background-position: 100% -40px; text-shadow: none;}
.wfm-vertical-mega-menu ul.left li.mega-hover a .wf-mega-icon {background-position: 0 0;}
.wfm-vertical-mega-menu ul.right li.mega-hover a .wf-mega-icon {background-position: -18px 0;}
.wfm-vertical-mega-menu ul.right li .sub-container {position: absolute;-webkit-border-bottom-right-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-topright: 5px;border-bottom-right-radius: 5px;border-top-right-radius: 5px;}
.wfm-vertical-mega-menu ul.left li .sub-container {position: absolute;-webkit-border-bottom-left-radius: 5px;-webkit-border-top-left-radius: 5px;-moz-border-radius-bottomleft: 5px;-moz-border-radius-topleft: 5px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;}
.wfm-vertical-mega-menu ul li .sub {padding: 20px 10px 10px 20px;margin: 0;}
.wfm-vertical-mega-menu ul li .sub .row {width: 100%; overflow: hidden; clear: both;}
.wfm-vertical-mega-menu ul li .sub li {list-style: none; float: none; width: 160px; font-size: 1em; font-weight: normal;}
.wfm-vertical-mega-menu ul li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.wfm-vertical-mega-menu ul li .sub li.mega-hdr.last {margin-right: 0;}
.wfm-vertical-mega-menu ul li .sub a {background: none; border: none; text-shadow: none; padding: 6px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.wfm-vertical-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a:hover {text-shadow: none;}
.wfm-vertical-mega-menu ul .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(../images/hmm/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.wfm-vertical-mega-menu ul .sub li.mega-hdr li a:hover { background:url(../images/hmm/arrow_on.png) no-repeat 5px 8px;}
.wfm-vertical-mega-menu ul .sub ul li {padding-right: 0;}
.wfm-vertical-mega-menu ul li .sub-container.non-mega .sub {padding: 20px;}
.wfm-vertical-mega-menu ul li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.wfm-vertical-mega-menu ul li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(../images/hmm/arrow_off.png) no-repeat 7px 12px;}
.wfm-vertical-mega-menu ul li .sub-container.non-mega li a:hover { padding: 7px 5px 7px 22px; background: #fff url(../images/hmm/arrow_on.png) no-repeat 6px 11px;}