.pg-content-body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #333;
}

.pg-wrap h1 {
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #71bb44;
  text-transform: uppercase;
  ont-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 800;
  font-size: 2.0em;
  line-height: 1.125em;
  background-image: none;
  background: none;
}

.pg-wrap a {
  text-decoration: none;
}

#block-system-main-menu h2 a {
  max-width: 220px;
  font-size: 1.3em;
  color: #fcb813;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu li {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu li a {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu li a:hover {
  text-decoration: none;
}

#main-menu li.expanded a {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu li.collapsed a {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu li.last a {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu ul {
  margin-top: 10px;
  padding-left: 10px;
}

#main-menu li.expanded ul li a {
  max-width: 220px;
  list-style: none;
  padding-left: 0;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  margin: 0;
  transition: all 0.25s ease-in-out;
}

#main-menu ul li.active-trail a {
  background-image: none !important;
  margin-left: 7px;
  margin-top: 10px;
  line-height: 15px;
}

#main-menu li.expanded ul ul li a {
  background-image: none !important;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 15px;
}

.pg-wrap table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.pg-wrap table tr th {
  background: #fcb813;
  color: #fff;
  font-size: 15px;
  padding: 7px;
  border: 1px solid #333;
}

.pg-wrap table tr td {
  color: #333;
  background: #fff;
  padding: 7px;
  border: 1px solid #333;
  font-size: 14px;
}

#block-pgc-contact-block-pgc-contact-block {
  background: #fcb813;
  padding: 15px 15px 15px 20px;
}

#block-pgc-contact-block-pgc-contact-block .title {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

#pgc-contact-block {
  padding-top: 10px;
}

#pgc-contact-block li a {
  color: #fff;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

#block-pgc-contact-block-pgc-contact-footer-block {
  background: #fcb813;
  padding: 15px 5px 5px 25px;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

#block-pgc-contact-block-pgc-contact-footer-block .title {
  color: #fff;
  font-size: 1.5em;
}

#pgc-contact-footer-block li a {
  color: #fff;
}

#pgc_resource_block {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  background: #fcb813;
  padding: 15px 15px 15px 20px;
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 12px 0;
  line-height: 40px;
}

#pgc_resource_block a {
  color: #fff;
}

#pgc_resource_block a:hover {
  background: #71bb44;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pg-gift-details .accordion-switch a {
  background: #fcb813;
  padding: 0 25px;
  color: #fff;
  display: block;
  font-size: .9em;
  font-weight: 700;
  margin: 10px 0;
  line-height: 40px;
}

.pg-gift-details .accordion-switch a:hover {
  background: #71bb44;
  text-decoration: none;
  color: #fff;
}

.pg-gift-details .accordion-switch span {
  float: right;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 40px;
}

#block-pgc-misc-blocks-mobilenav .control.close-btn::before {
  content: "\f05c";
  font-family: "FontAwesome";
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 8px;
}

.pgc-brochure-bg-top {
      background: #fcb813;
}

.pgc-brochure-header-text {
  background: #71bb44;
  color: #fff;
}

.pgc-brochure-title {
  color: #71bb44;
}

.pgc-brochure-body-title.pgc-font-color1 {
  color: #71bb44;
}

.pgc-brochure-body-title.pgc-font-color2 {
  color: #fcb813;
}

.pgc-brochure-body-text ul li span.pgc-before::before {
  color: #fcb813;
}

.pgc-brochure-footer-text {
  background: #71bb44;
}

.pgc-brochure-footer-title {
  color: #fcb813;
}

span.pgc-brochure-footer-contact {
  font-weight: 600;
}

.pg-page-btns .pgc-title-btn {
  background-color: #fcb813;
}

